---
import { API_KEY_NEWSLETTER } from "astro:env/server";
import Layout from "../../../layouts/Layout.astro";
import Hero from "../../../sections/Hero.astro";
import Section from "../../../components/Section.astro";
import Container from "../../../components/Container.astro";

export const prerender = false;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("email");

    await fetch("https://newsletter.nn1.dev/", {
      method: "POST",
      headers: {
        Authorization: `Bearer ${API_KEY_NEWSLETTER}`,
      },
      body: JSON.stringify({
        email,
      }),
    });

    return Astro.redirect("/newsletter/unsubscribe");
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout
  title="Newsletter | NN1 Dev Club"
  description="NN1 Dev Club is a free, quarterly meet-up for a local community of Northamptonshire-based software enthusiasts. A place to meet, collaborate and share knowledge with each other. From devs for devs!"
  noIndex
>
  <Hero
    title="You unsubscribed from our newsletter"
    description="We get that. We also don't like too much noise in our lives. If you ever decide to re-subscribe, it takes only seconds. Have a lovely rest of the day 👋"
  />
  <Section style="contrast">
    <Container narrow />
  </Section>
</Layout>
