---
import { API_KEY } from "astro:env/server";
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Section from "../../components/Section.astro";
import Container from "../../components/Container.astro";

export const prerender = false;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    console.log({ data });
    const name = data.get("name");
    const stack = data.get("stack");
    const who = data.get("who");
    const interval = data.get("interval");
    const feedback = data.get("feedback");

    await fetch("https://nn1-dev-feedback.deno.dev/", {
      method: "POST",
      headers: {
        Authorization: `Bearer ${API_KEY}`,
      },
      body: JSON.stringify({
        name,
        stack,
        who,
        interval,
        feedback,
      }),
    });

    return Astro.redirect("/feedback/thanks");
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout
  title="Feedback | NN1 Dev Club"
  description="NN1 Dev Club is a free, quarterly meet-up for a local community of Northamptonshire-based software enthusiasts. A place to meet, collaborate and share knowledge with each other. From devs for devs!"
>
  <Hero
    title="Feedback please!"
    description="Please tell us how to improve the NN1 Dev Club meetups and what else we can do for our dev community. Your feedback matters a lot! Your name is optional, but it can be helpful if we would like to follow up."
  />
  <Section style="contrast">
    <Container narrow>
      <form class="form" method="POST">
        <div class="form__section">
          <label class="label" for="name">Name (optional)</label>
          <input type="text" name="name" id="name" />
        </div>

        <div class="form__section">
          <label class="label" for="stack"
            >What's your tech stack? (optional)</label
          >
          <input type="text" name="stack" id="stack" />
        </div>

        <fieldset class="form__section">
          <legend class="label">Who are you?</legend>
          <div class="radiogroup">
            <input
              type="radio"
              id="who_student"
              name="who"
              value="Student"
              required
            />
            <label for="who_student">Student</label>
          </div>

          <div class="radiogroup">
            <input
              type="radio"
              id="who_hobbyist"
              name="who"
              value="Hobbyist"
              required
            />
            <label for="who_hobbyist">Hobbyist</label>
          </div>

          <div class="radiogroup">
            <input type="radio" id="who_pro" name="who" value="Pro" required />
            <label for="who_pro">Pro</label>
          </div>
        </fieldset>

        <fieldset class="form__section">
          <legend class="label">Meet-up interval</legend>
          <div>
            <div class="radiogroup">
              <input
                type="radio"
                id="interval_ok"
                name="interval"
                value="Every 3 months is fine"
                required
              />
              <label for="interval_ok">Every 3 months is fine</label>
            </div>

            <div class="radiogroup">
              <input
                type="radio"
                id="interval_more_frequent"
                name="interval"
                value="More frequent please"
                required
              />
              <label for="interval_more_frequent">More frequent please</label>
            </div>

            <div class="radiogroup">
              <input
                type="radio"
                id="interval_less_frequent"
                name="interval"
                value="Less frequent please"
                required
              />
              <label for="interval_less_frequent">Less frequent please</label>
            </div>
          </div>
        </fieldset>

        <div class="form__section">
          <label class="label" for="feedback">
            Your feedback (optional, but most helpful for us)
          </label>
          <textarea name="feedback" id="feedback" rows="3"></textarea>
        </div>
        <button>Submit feedback</button>
      </form>
    </Container>
  </Section>
</Layout>

<style>
  form {
    display: flex;
    flex-direction: column;
    gap: var(--lh);
  }

  .label {
    font-weight: 600;
  }

  fieldset {
    border: initial;
  }

  .radiogroup {
    display: flex;
    align-items: center;
    gap: calc(var(--lh) / 4);
  }

  textarea,
  input[type="text"] {
    display: block;
    font: inherit;
    width: 100%;
    padding-block: calc(var(--lh) / 4);
    padding-inline: calc(var(--lh) / 3);
    border-radius: 4px;
    border: none;

    &:focus,
    &:hover {
      outline: 2px solid var(--color-accent);
      outline-offset: 2px;
    }
  }

  textarea {
    resize: vertical;
  }

  button {
    cursor: pointer;
    font: inherit;
    border: none;
    border-radius: 4px;
    padding: calc(var(--lh) / 2) calc(var(--lh) * 0.75);
    width: fit-content;
    color: var(--color-bg-contrast);
    background-color: var(--color-accent);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: calc(var(--lh) / 2);

    &:hover {
      background-color: var(--color-accent-light);
    }
  }
</style>
