---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../sections/Hero.astro";
import Section from "../../components/Section.astro";
import Container from "../../components/Container.astro";
import Input from "../../components/Input.astro";
import Textarea from "../../components/Textarea.astro";
---

<Layout title="Feedback | NN1 Dev Club">
  <Hero
    title="Feedback please!"
    description="Please tell us how to improve the NN1 Dev Club meetups and what else we can do for our dev community. Your feedback matters a lot! Your name is optional, but it can be helpful if we would like to follow up."
  />
  <Section style="contrast">
    <Container narrow>
      <form class="form">
        <Input type="text" label="Name" name="name" placeholder="Tim Cook" />
        <Input
          type="text"
          label="What's your tech stack?"
          name="stack"
          placeholder="Objective-C and Swift"
        />

        <fieldset class="form__section">
          <legend class="label">Who are you?</legend>
          <div class="radiogroup">
            <input
              type="radio"
              id="who_student"
              name="who"
              value="Student"
              required
            />
            <label for="who_student">Student</label>
          </div>

          <div class="radiogroup">
            <input
              type="radio"
              id="who_hobbyist"
              name="who"
              value="Hobbyist"
              required
            />
            <label for="who_hobbyist">Hobbyist</label>
          </div>

          <div class="radiogroup">
            <input type="radio" id="who_pro" name="who" value="Pro" required />
            <label for="who_pro">Pro</label>
          </div>
        </fieldset>

        <fieldset class="form__section">
          <legend class="label">Meet-up interval</legend>
          <div>
            <div class="radiogroup">
              <input
                type="radio"
                id="interval_ok"
                name="interval"
                value="Every 3 months is fine"
                required
              />
              <label for="interval_ok">Every 3 months is fine</label>
            </div>

            <div class="radiogroup">
              <input
                type="radio"
                id="interval_more_frequent"
                name="interval"
                value="More frequent please"
                required
              />
              <label for="interval_more_frequent">More frequent please</label>
            </div>

            <div class="radiogroup">
              <input
                type="radio"
                id="interval_less_frequent"
                name="interval"
                value="Less frequent please"
                required
              />
              <label for="interval_less_frequent">Less frequent please</label>
            </div>
          </div>
        </fieldset>

        <Textarea
          label="Your feedback"
          name="feedback"
          placeholder="I think..."
        />

        <button>Submit feedback</button>
      </form>
    </Container>
  </Section>
</Layout>

<script>
  import { actions } from "astro:actions";
  import * as Sentry from "@sentry/astro";

  const form = document.querySelector("form");
  const FORM_LOADING_CLASS = "form--loading";

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    form.classList.add(FORM_LOADING_CLASS);
    const formData = new FormData(form);
    const { error } = await actions.submitFormFeedback(formData);

    if (error) {
      Sentry.captureException(error);
      form.classList.remove(FORM_LOADING_CLASS);
      throw new Error(error.message);
    }

    window.location.href = "/feedback/thanks";
  });
</script>

<style>
  .form {
    display: flex;
    flex-direction: column;
    gap: var(--lh);
  }

  .form--loading {
    pointer-events: none;
    position: relative;

    * {
      opacity: 0.2;
      filter: blur(10px);
    }

    &::after {
      position: absolute;
      inset: 50%;
      translate: calc(var(--lh) / -2) calc(var(--lh) / -2);
      content: "";
      width: var(--lh);
      aspect-ratio: 1;
      --_g: no-repeat radial-gradient(farthest-side, #fff 90%, transparent);
      background: var(--_g), var(--_g), var(--_g), var(--_g);
      background-size: calc(var(--lh) / 3) calc(var(--lh) / 3);
      animation: loader 1s infinite;
    }
  }

  @keyframes loader {
    0% {
      background-position:
        0 0,
        100% 0,
        100% 100%,
        0 100%;
    }
    40%,
    50% {
      background-position:
        100% 100%,
        100% 0,
        0 0,
        0 100%;
    }
    90%,
    100% {
      background-position:
        100% 100%,
        0 100%,
        0 0,
        100% 0;
    }
  }

  .label {
    font-weight: 600;
  }

  fieldset {
    border: initial;
  }

  .radiogroup {
    display: flex;
    align-items: center;
    gap: calc(var(--lh) / 4);
  }

  button {
    cursor: pointer;
    font: inherit;
    border: none;
    border-radius: 4px;
    padding: calc(var(--lh) / 2) calc(var(--lh) * 0.75);
    width: fit-content;
    color: var(--color-bg-contrast);
    background-color: var(--color-accent);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: calc(var(--lh) / 2);

    &:hover {
      background-color: var(--color-accent-light);
    }
  }

  html.light_mode {
    button {
      color: var(--lm-color-bg-contrast);
      background-color: var(--lm-color-accent);

      &:hover {
        background-color: var(--lm-color-accent-light);
      }
    }
  }
</style>
