---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
import Section from "../components/Section.astro";
import Container from "../components/Container.astro";
---

<Layout title="Styleguide | NN1 Dev Club" description="Styleguide" noIndex>
  <Section style="contrast">
    <Container>
      <Heading title="This is a test heading" level={1} />
      <Heading title="This is a test heading" level={1} anchor />
      <Heading title="This is a test heading" level={2} />
      <Heading title="This is a test heading" level={2} anchor />
      <Heading title="This is a test heading" level={3} />
      <Heading title="This is a test heading" level={3} anchor />
      <Heading title="This is a test heading" level={4} />
      <Heading title="This is a test heading" level={4} anchor />
      <Heading title="This is a test heading" level={5} />
      <Heading title="This is a test heading" level={5} anchor />
      <Heading title="This is a test heading" level={6} />
      <Heading title="This is a test heading" level={6} anchor />
    </Container>
  </Section>
</Layout>
