---
import * as Sentry from "@sentry/astro";
import { getCollection, getEntry, render } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import Container from "../../../components/Container.astro";
import Section from "../../../components/Section.astro";
import Heading from "../../../components/Heading.astro";

const { spotlightId } = Astro.params;
if (spotlightId === undefined) {
  Sentry.captureMessage("Access non-existing spotlight.");
  return Astro.redirect("/404");
}

const entry = await getEntry("spotlight", spotlightId);

if (entry === undefined) {
  Sentry.captureMessage("Access non-existing event.");
  return Astro.redirect("/404");
}
export async function getStaticPaths() {
  const spotlights = await getCollection("spotlight");

  return spotlights
    .filter(
      (spotlight) =>
        import.meta.env.MODE === "development" || !spotlight.data.draft,
    )
    .map(({ id }) => ({
      params: { spotlightId: id },
    }));
}

const {
  data: {
    name,
    description,
    // date,
    // urlWebsite,
    // urlGitHub,
    // urlMastodon,
    // urlBluesky,
    // urlLinkedIn,
    // urlInstagram,
    // urlTwitter,
  },
} = entry;

const { Content } = await render(entry);
---

<!-- todo: add og image per fell -->
<Layout title={`${name} | NN1 Dev Club`} description={description}>
  <Section style="contrast">
    <Container narrow>
      <article class="article">
        <Heading title={name} level={1} />
        <div class="content">
          <Content />
        </div>
      </article>
    </Container>
  </Section>
</Layout>

<style>
  .article {
    display: flex;
    flex-direction: column;
    gap: 2lh;
  }

  .content {
    * + * {
      margin-block-end: 1lh;
    }
  }
</style>
