---
interface Props {
  text: string;
  id?: string;
}

const { text, id } = Astro.props;
---

<button class="button" id={id}>{text}</button>

<style>
  .button {
    font: inherit;
    border: unset;
    border-radius: 4px;
    padding: calc(var(--lh) / 2) calc(var(--lh) * 0.5);
    width: fit-content;
    color: var(--color-bg-contrast);
    background-color: var(--color-accent);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: calc(var(--lh) / 2);
    cursor: pointer;

    &:hover {
      background-color: var(--color-accent-light);
    }
  }

  .button__icon {
    width: var(--lh);
    height: var(--lh);
  }
</style>
