---
interface Props {
  href: string;
  text: string;
}

const { href, text } = Astro.props;
---

<a href={href} class="button" rel="me">
  {text}
</a>

<style>
  .button {
    border-radius: 4px;
    padding: calc(var(--lh) / 2) calc(var(--lh) * 0.5);
    width: fit-content;
    color: var(--color-bg-contrast);
    background-color: var(--color-accent);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: calc(var(--lh) / 2);

    &:hover {
      background-color: var(--color-accent-light);
    }
  }

  .button__icon {
    width: var(--lh);
    height: var(--lh);
  }
</style>
