---
interface Props {
  narrow?: boolean;
}

const classList = Astro.props.narrow
  ? "container container--narrow"
  : "container";
---

<div class={classList}>
  <slot />
</div>

<style>
  .container {
    width: min(1200px, 100% - 1.5 * var(--lh));
    margin-inline: auto;
  }

  .container--narrow {
    width: min(700px, 100% - var(--lh));
  }
</style>
