---
interface Props {
  style?: "contrast";
}

const { style } = Astro.props;
---

<section class={`section section--${style}`}>
  <slot />
</section>

<style>
  .section {
    padding-block: calc(var(--lh) * 2);
    box-shadow: inset 0 -1px 0 0 var(--color-border);
    background-color: var(--color-bg);

    &.section--contrast {
      background-color: var(--color-bg-contrast);
    }

    @media (800px <= width) {
      padding-block: calc(var(--lh) * 4);
    }
  }

  html.light_mode{
    .section {
      box-shadow: inset 0 -1px 0 0 var(--lm-color-border);
      background-color: var(--lm-color-bg);

      &.section--contrast {
        background-color: var(--lm-color-bg-contrast);
      }
    }
  }
</style>
