---
import Container from "../components/Container.astro";
import Profile from "../components/Profile.astro";
import Heading from "./Heading.astro";
import Section from "./Section.astro";

const data = [
  {
    image: "/pawel.jpg",
    name: "Pawel Grzybek",
    role: "Senior Software Engineer",
    bio: "I'm a software developer from Poland living in Northampton, UK. I'm a web standards, accessibility and performance enthusiast. Recently, I have enjoyed coding in Rust. After hours, I listen to funky records.",
    urlWebsite: "https://pawelgrzybek.com/",
    urlGitHub: "https://github.com/pawelgrzybek",
    urlLinkedIn: "https://www.linkedin.com/in/pgrzybek/",
    urlMastodon: "https://mastodon.social/@pawelgrzybek",
  },
  {
    image: "/darren.jpg",
    name: "Darren Sharp",
    role: "CEO at S-SA Digital",
    bio: "Darren the CEO of S-SA Digital Recruitment , With over 20 years under belt, he's been busy building tech teams all across the UK and Europe. As the CEO, he's all about making those perfect matches between top talent and forward-thinking tech companies. As Northampton based organization Darren is passionate about nurturing / championing local talent and helping folks reach their full potential.",
    urlWebsite: "https://s-sa.co.uk/",
    urlGitHub: "",
    urlLinkedIn: "https://www.linkedin.com/in/staffordsharp/",
    urlMastodon: "",
  },
];
---

<Section>
  <Container>
    <div class="organisers">
      <Heading title="Who's behind it?" level={2} anchor />
      <div class="organisers__grid">
        {data.map((dude) => <Profile {...dude} />)}
      </div>
    </div>
  </Container>
</Section>

<style>
  .organisers {
    display: flex;
    flex-direction: column;
    gap: calc(var(--lh) * 2);
  }

  .organisers__grid {
    display: grid;
    gap: calc(var(--lh) * 2);

    @media (800px <= width) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
