---
import Container from "../components/Container.astro";
import ButtonLink from "../components/ButtonLink.astro";
import Section from "../components/Section.astro";
import Heading from "../components/Heading.astro";
import Input from "../components/Input.astro";
---

<Section style="contrast">
  <Container>
    <div class="connect">
      <Heading title="Stay in touch" level={2} anchor />
      <p class="connect__message">
        Get notifications about our upcoming events by signing up to our
        newsletter. We promise never to send you annoying crap. For more
        frequent updates, follow us on social media.
      </p>
      <form class="connect__form">
        <Input
          type="email"
          label="Email"
          name="email"
          placeholder="timcook@apple.com"
          required
        />
        <button class="connect__submit">Subscribe</button>
      </form>
      <div class="connect__buttons">
        <ButtonLink href="https://github.com/nn1-dev" icon="github" />
        <ButtonLink
          href="http://linkedin.com/company/nn1-dev"
          icon="linkedin"
        />
        <ButtonLink href="https://mastodon.social/@nn1dev" icon="mastodon" />
        <ButtonLink href="https://x.com/nn1dev" icon="x" />
      </div>
    </div>
  </Container>
</Section>

<script>
  import { actions } from "astro:actions";

  const form = document.querySelector("form");
  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const { error } = await actions.submitFormNewsletter(formData);
    if (!error) {
      window.location.href = "/newsletter";
    }
  });
</script>

<style>
  .connect {
    display: flex;
    flex-direction: column;
    gap: calc(var(--lh) * 1.5);
    align-items: center;
  }

  .connect__message {
    max-width: 70ch;
    text-align: center;
  }

  .connect__form {
    display: flex;
    gap: calc(var(--lh) / 2);
    align-items: end;
    width: 100%;
    max-width: 55ch;
  }

  .connect__submit {
    cursor: pointer;
    font: inherit;
    border: none;
    border-radius: 4px;
    padding: calc(var(--lh) / 2) calc(var(--lh) * 0.75);
    width: fit-content;
    height: calc(var(--lh) * 1.5);
    color: var(--color-bg-contrast);
    background-color: var(--color-accent);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: calc(var(--lh) / 2);

    &:hover {
      background-color: var(--color-accent-light);
    }
  }

  .connect__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--lh) / 2);
    align-items: center;
    justify-content: center;
  }

  .connect__contributors {
    list-style: none;
    display: flex;
    gap: calc(var(--lh) / 2);
  }

  .connect__contributor-link {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 4px var(--color-border);

    &:hover {
      opacity: 0.75;
    }
  }

  .connect__contributor-image {
    width: calc(var(--lh) * 1.5);
    height: calc(var(--lh) * 1.5);
  }
</style>
