---
import Container from "../components/Container.astro";
import Profile from "../components/Profile.astro";
import Heading from "../components/Heading.astro";
import Section from "../components/Section.astro";

const data = [
  {
    image: "/pawel.jpg",
    name: "Pawel Grzybek",
    role: "Senior Software Engineer",
    bio: "I'm a software developer from Poland living in Northampton, UK. I'm a web standards, accessibility and performance enthusiast. Recently, I have enjoyed coding in Rust. After hours, I listen to funky records.",
    urlWebsite: "https://pawelgrzybek.com/",
    urlGitHub: "https://github.com/pawelgrzybek",
    urlLinkedIn: "https://www.linkedin.com/in/pgrzybek/",
    urlMastodon: "https://mastodon.social/@pawelgrzybek",
    urlBluesky: "https://bsky.app/profile/pawelgrzybek.com",
  },
  {
    image: "/darren.jpg",
    name: "Darren Sharp",
    role: "CEO at S-SA Digital",
    bio: "Darren the CEO of S-SA Digital Recruitment , With over 20 years under belt, he's been busy building tech teams all across the UK and Europe. As the CEO, he's all about making those perfect matches between top talent and forward-thinking tech companies. As Northampton based organization Darren is passionate about nurturing / championing local talent and helping folks reach their full potential.",
    urlWebsite: "https://s-sa.co.uk/",
    urlGitHub: "",
    urlLinkedIn: "https://www.linkedin.com/in/staffordsharp/",
    urlMastodon: "",
  },
];

interface Contributor {
  role: string;
  totalAmountDonated: number;
  name: string;
  image?: string;
}

const contributors = await fetch(
  "https://opencollective.com/nn1-dev/members/all.json",
);
const contributorsJson: Array<Contributor> = await contributors.json();
const contributorsData = contributorsJson
  .filter(({ role }) => role === "BACKER")
  .sort((a, b) => b.totalAmountDonated - a.totalAmountDonated);
---

<Section>
  <Container>
    <div class="organisers">
      <div class="organisers__section">
        <Heading title="Who's behind it?" level={2} anchor />
        <div class="organisers__grid">
          {data.map((dude) => <Profile {...dude} />)}
        </div>
      </div>
      <div class="organisers__section">
        <Heading title="Partners" level={3} anchor />
        <div class="organisers__partners">
          <a href="https://resend.com/" class="organisers__partner">
            <svg
              class="organisers__logo organisers__logo--resend"
              viewBox="0 0 1500 489"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M25.4092 393.747V97.3065H146.103C211.32 97.3065 254.939 135.844 254.939 195.979C254.939 234.093 235.035 264.584 204.121 279.406L262.562 393.747H192.263L142.292 294.228H88.9323V393.747H25.4092ZM141.021 150.242H88.9323V241.292H141.021C171.089 241.292 190.146 223.506 190.146 195.979C190.146 168.029 171.089 150.242 141.021 150.242ZM388.86 396.288C316.444 396.288 272.825 352.669 272.825 285.335C272.825 217.577 317.291 173.534 384.625 173.534C449.842 173.534 493.885 214.189 494.732 278.135C494.732 284.488 494.308 291.687 493.038 298.463H335.077V301.427C336.348 332.342 356.252 350.975 386.319 350.975C410.458 350.975 427.398 340.388 432.479 320.061H491.344C484.568 362.409 446.878 396.288 388.86 396.288ZM336.348 259.502H434.597C430.362 232.822 412.152 218 385.049 218C359.216 218 339.736 233.669 336.348 259.502ZM515.546 321.331H572.293C574.41 340.388 590.926 353.516 620.147 353.516C645.133 353.516 660.378 345.47 660.378 330.224C660.378 312.438 645.556 311.167 610.407 306.509C559.588 300.58 520.204 289.146 520.204 244.256C520.204 201.061 557.894 172.687 613.795 173.111C672.236 173.111 712.467 198.943 715.431 243.409H658.261C656.567 226.046 640.051 215.459 615.912 215.459C592.62 215.459 577.375 223.929 577.375 237.904C577.375 254.42 596.008 256.114 627.346 259.925C677.318 265.007 718.819 276.441 718.819 325.566C718.819 368.762 678.165 396.288 619.723 396.288C559.165 396.288 518.087 367.915 515.546 321.331ZM857.839 396.288C785.423 396.288 741.803 352.669 741.803 285.335C741.803 217.577 786.27 173.534 853.604 173.534C918.821 173.534 962.864 214.189 963.711 278.135C963.711 284.488 963.287 291.687 962.017 298.463H804.056V301.427C805.326 332.342 825.23 350.975 855.298 350.975C879.437 350.975 896.376 340.388 901.458 320.061H960.323C953.547 362.409 915.857 396.288 857.839 396.288ZM805.326 259.502H903.575C899.341 232.822 881.131 218 854.027 218C828.195 218 808.714 233.669 805.326 259.502ZM1121.27 173.534C1168.28 173.534 1208.51 198.52 1208.51 273.054V393.747H1148.8V278.982C1148.8 242.139 1134.82 222.659 1104.75 222.659C1073.84 222.659 1056.05 244.68 1056.05 282.37V393.747H996.342V176.075H1048.43L1053.94 203.178C1067.91 186.239 1087.82 173.534 1121.27 173.534ZM1403.27 203.178V97.3065H1462.98V393.747H1410.89L1404.96 363.68C1390.56 382.313 1369.39 396.288 1338.05 396.288C1279.61 396.288 1236.84 353.516 1236.84 284.488C1236.84 217.153 1279.61 173.534 1337.63 173.534C1367.69 173.534 1389.29 185.392 1403.27 203.178ZM1351.18 347.587C1383.79 347.587 1404.11 322.178 1404.11 285.335C1404.11 248.068 1383.79 222.235 1351.18 222.235C1318.57 222.235 1297.82 247.644 1297.82 284.911C1297.82 322.178 1318.57 347.587 1351.18 347.587Z"
              ></path>
            </svg>
          </a>
          <a href="https://vulcanworks.co.uk" class="organisers__partner">
            <svg
              class="organisers__logo organisers__logo--vulcan-works"
              width="162"
              height="162"
              viewBox="0 0 162 162"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1_2)">
                <path
                  d="M161.54 161.54H0V0H161.54V161.54ZM81.0195 126.49C75.9399 126.49 71.8 130.45 71.7998 135.31C71.7998 140.169 75.9297 144.13 81.0195 144.13C86.1095 144.13 90.25 140.17 90.25 135.31C90.2498 130.45 86.0994 126.49 81.0195 126.49ZM136.92 126.49C131.93 126.49 129.65 129.05 129.65 131.95C129.65 134.85 131.601 136.73 136.19 137.46C138.39 137.81 139.27 137.96 139.27 138.69C139.269 139.62 137.79 139.77 136.46 139.72C136.449 139.72 133.515 139.716 131.02 137.79L129.24 141.62C129.267 141.645 131.992 144.13 136.46 144.13C141.71 144.13 143.939 141.662 144.073 138.544L144.1 138.25C144.1 133.99 139.99 133.17 136.68 132.74C134.9 132.51 134.47 132.26 134.47 131.71C134.47 131.26 134.901 130.91 136.48 130.91C139.821 130.91 141.381 132.104 141.39 132.11L143.29 128.5C141.01 126.49 136.92 126.49 136.92 126.49ZM93.6602 143.74H98.4697V138.53H99.4004L102.88 143.74H108.49L108.5 143.73L104.36 138.07C106.49 137.17 107.69 134.99 107.69 132.51C107.69 129.26 105.66 126.9 101.28 126.9H93.6602V143.74ZM50.4902 143.73H55.5L57.71 135.71L59.9102 143.73H64.9297L70.54 126.89H65.1299L62.3203 136.91L59.9102 126.89H55.5L53.0898 136.91L50.29 126.89H44.8799L50.4902 143.73ZM111.64 143.73H116.46V136.51L121.67 143.73H127.68L120.87 134.91L127.28 126.89H121.27L116.46 133.3V126.89H111.64V143.73ZM81.0303 130.9C83.46 130.901 85.4402 132.88 85.4404 135.31C85.4404 137.739 83.4601 139.72 81.0303 139.72C78.6003 139.72 76.6201 137.74 76.6201 135.31C76.6203 132.88 78.6004 130.9 81.0303 130.9ZM100.83 130.9C101.88 130.9 102.763 131.401 102.869 132.478L102.88 132.71C102.88 133.96 101.96 134.51 100.83 134.51H98.4697V130.9H100.83ZM57.2695 116.11C57.2697 120.53 60.2699 123.71 65.2695 123.71C70.2694 123.71 73.2694 120.53 73.2695 116.11V106.51H68.0703V116.16C68.0702 118.26 66.6695 119.31 65.2695 119.31C63.8697 119.309 62.4698 118.26 62.4697 116.16V106.51H57.2695V116.11ZM99.8301 106.1C94.6301 106.1 90.3799 110.05 90.3799 114.9C90.3801 119.75 94.6302 123.7 99.8301 123.7C101.8 123.7 104.08 122.98 105.58 121.68L103.75 117.6C102.85 118.62 101.47 119.3 99.9502 119.3C97.3303 119.3 95.1799 117.33 95.1797 114.9C95.1797 112.47 97.3202 110.5 99.9502 110.5C101.48 110.5 102.85 111.18 103.75 112.2L105.58 108.1C104.08 106.8 101.8 106.1 99.8301 106.1ZM43.5 123.31H48.2998L55.0898 106.51H49.5L45.9004 116.56L42.2998 106.51H36.7002L43.5 123.31ZM77.2803 123.31H88.4805V118.91H82.0801V106.51H77.2803V123.31ZM107.32 123.31H112.92L116.52 113.26L120.11 123.31H125.71L118.92 106.51H114.11L107.32 123.31ZM128.09 123.31H132.89V114.11L139.29 123.31H144.08V106.51H139.29V115.71L132.89 106.51H128.09V123.31ZM23.8301 23.2998H17.04V28.3096H23.8301V34.2002H29.6104V28.3096H36.3604V23.2998H29.6104V17.4404H23.8301V23.2998Z"
                  fill="currentColor"></path>
              </g>
              <defs>
                <clipPath id="clip0_1_2">
                  <rect width="161.54" height="161.54" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>
          <a href="https://s-sa.co.uk" class="organisers__partner">
            <svg
              class="organisers__logo organisers__logo--s-sa"
              viewBox="0 0 156 170"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1_7)">
                <path
                  d="M77.8408 0.00488281C83.8031 0.00488281 89.6607 1.57355 94.8242 4.55469L138.707 29.8887C143.87 32.8699 148.157 37.158 151.138 42.3213C154.118 47.4846 155.687 53.3418 155.687 59.3037V109.972C155.687 115.934 154.119 121.791 151.139 126.955C148.158 132.119 143.87 136.406 138.707 139.388L94.8291 164.722C89.6648 167.702 83.8071 169.27 77.8447 169.27C71.8825 169.269 66.0256 167.698 60.8623 164.717L16.9805 139.383C11.8166 136.402 7.52837 132.114 4.54688 126.95C1.56542 121.787 -0.00468079 115.929 -0.00488281 109.967V59.2988C-0.00400153 53.3373 1.5664 47.4808 4.54785 42.3184C7.52933 37.156 11.8173 32.8688 16.9805 29.8887L60.8584 4.55469C66.0217 1.57374 71.8788 0.00491361 77.8408 0.00488281ZM55.9082 54.3496C50.5812 54.3426 46.6247 55.8548 44.0527 58.5498C41.4808 61.2448 40.3965 64.9499 40.3994 69.0498C40.2288 72.6794 41.3872 76.247 43.6562 79.085C46.1732 81.9758 50.3719 83.8371 56.7256 83.8262H63.9736L60.3379 93.2266H41.2178V103.781H56.2568L50.7793 117.947H62.1484L62.4355 117.205L61.3496 116.788V116.785L62.4326 117.203L77.0537 79.3145L77.0527 79.3135C77.1548 79.0456 77.3282 78.8103 77.5547 78.6338C77.7763 78.4982 78.0348 78.4353 78.2939 78.4531C78.5462 78.4354 78.7977 78.4965 79.0137 78.6279C79.2283 78.7993 79.3843 79.0336 79.459 79.2979L93.7461 117.946H105.173L99.9023 103.78H114.999V93.2266H95.9756L92.4785 83.8271H99.4814C105.835 83.8381 110.036 81.9769 112.552 79.0859C114.82 76.2482 115.976 72.6814 115.806 69.0527C115.81 64.9529 114.725 61.2477 112.153 58.5527C109.581 55.8577 105.627 54.3445 100.298 54.3525H78.1074V54.3496H55.9082ZM72.9287 71.2324C74.5935 70.3368 76.4725 69.9138 78.3604 70.0107C80.2237 69.9149 82.0772 70.3372 83.7158 71.2295C85.2001 72.1928 86.3037 73.6419 86.8369 75.3291L101.831 115.629H95.3613L81.6396 78.4971C81.4008 77.7858 80.9467 77.1659 80.3398 76.7246C79.7351 76.3209 79.0199 76.1145 78.293 76.1338C77.5677 76.116 76.8542 76.3202 76.248 76.7188C75.6434 77.1516 75.177 77.7506 74.9043 78.4424L74.8955 78.46L60.5518 115.628H54.1621L69.7402 75.3408C70.3018 73.6469 71.4271 72.1968 72.9287 71.2324ZM112.662 95.5439V101.456H99.0371L96.8379 95.5439H112.662ZM59.4434 95.541L57.1572 101.453H43.5391V95.541H59.4434ZM78.0879 56.6426L100.297 56.6729C105.218 56.6809 108.436 58.0243 110.476 60.1543C112.516 62.2842 113.485 65.3369 113.485 69.0537C113.648 72.1189 112.693 75.1392 110.798 77.5537C108.805 79.8267 105.42 81.489 99.4756 81.501H91.6123L89.5938 76.0752H99.7559C102.633 76.0802 104.697 75.3406 106.017 74.0146C106.602 73.3887 107.057 72.6525 107.354 71.8486C107.652 71.0447 107.786 70.1893 107.748 69.333C107.787 68.4484 107.65 67.5644 107.344 66.7334C107.038 65.9025 106.569 65.141 105.966 64.4932C105.24 63.8323 104.389 63.3234 103.463 62.9971C102.537 62.6708 101.555 62.5332 100.575 62.5928H78.1113V62.5898H55.6299C54.65 62.5302 53.6681 62.6678 52.7422 62.9941C51.8163 63.3205 50.9653 63.8294 50.2393 64.4902C49.636 65.1383 49.1671 65.8996 48.8613 66.7305C48.5555 67.5615 48.4187 68.4455 48.458 69.3301C48.4206 70.1865 48.5545 71.0416 48.8516 71.8457C49.1486 72.6496 49.6025 73.3864 50.1875 74.0127C51.5065 75.3377 53.5722 76.0772 56.4502 76.0732H66.9707L64.873 81.498H56.7295C50.7868 81.487 47.4022 79.8237 45.4082 77.5508C43.5128 75.1364 42.5581 72.1159 42.7227 69.0508C42.7227 65.3361 43.6918 62.2823 45.7295 60.1514C47.7675 58.0204 50.9882 56.6779 55.9092 56.6709L78.0879 56.6406V56.6426ZM78.1016 64.9199H100.578C101.252 64.8623 101.931 64.9401 102.574 65.1494C103.218 65.3588 103.813 65.6953 104.324 66.1387C104.712 66.5714 105.01 67.0775 105.2 67.627C105.39 68.1764 105.468 68.7587 105.43 69.3389C105.466 69.891 105.391 70.4449 105.21 70.9678C105.029 71.4906 104.746 71.9721 104.376 72.3838C103.629 73.1338 102.277 73.7588 99.7588 73.7588H88.9609C88.8835 73.7587 88.8063 73.7613 88.7295 73.7617C87.9498 71.9124 86.6275 70.3351 84.9268 69.2461C82.925 68.1302 80.6529 67.5919 78.3633 67.6904C76.0529 67.5903 73.7586 68.1276 71.7334 69.2441C70.0152 70.3325 68.6703 71.91 67.8652 73.7646C67.6611 73.761 67.4548 73.7575 67.2461 73.7578H56.4531C53.9341 73.7528 52.582 73.1308 51.835 72.3818C51.465 71.9704 51.1808 71.4888 51 70.9658C50.8192 70.4429 50.7454 69.889 50.7822 69.3369C50.7433 68.7572 50.8199 68.1755 51.0088 67.626C51.1977 67.0765 51.4946 66.57 51.8818 66.1367C52.3931 65.6936 52.9885 65.3578 53.6318 65.1484C54.2751 64.9391 54.9539 64.8606 55.6279 64.918H78.1006L78.1016 64.7383V64.9199Z"
                  fill="currentColor"></path>
              </g>
              <defs>
                <clipPath id="clip0_1_7">
                  <rect width="155.687" height="169.267" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>
          <a href="https://digitalnorthants.com" class="organisers__partner">
            <svg
              class="organisers__logo organisers__logo--digital-northants"
              width="220"
              height="220"
              viewBox="0 0 220 220"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_0_3)">
                <path
                  d="M219.56 219.56H0V0H219.56V219.56ZM183.53 156.76C179.77 156.76 176.15 158.12 176.15 162C176.15 165.88 179.9 167.14 183.01 167.24C184.17 167.33 184.69 167.59 184.69 168.11C184.69 168.63 184.14 168.89 183.07 168.89C181.78 168.82 179.84 168.7 177.41 167.11L177.43 167.13L175.49 171.47C177.31 172.79 180.45 173.57 183.23 173.57C187.08 173.57 190.67 172.08 190.67 168.13C190.67 163.89 186.65 162.95 183.32 162.85C182.351 162.81 182.12 162.36 182.12 162.07C182.12 161.48 182.7 161.29 183.54 161.29C184.83 161.26 186.68 161.71 187.55 162.26L190.07 158.7C188.51 157.54 186.12 156.76 183.53 156.76ZM59.5498 156.79C54.9199 156.79 50.42 159.34 50.4199 165.17C50.4199 171 55.0499 173.519 59.5498 173.52C64.0498 173.52 68.6797 171 68.6797 165.17C68.6796 159.35 64.1798 156.79 59.5498 156.79ZM89.1299 153.26V157.24H86.5703V161.8H89.1299V167.04C89.0299 172.05 91.8799 173.51 95.0498 173.51C96.6998 173.51 98.2904 173.22 99.6504 172.44L98.3604 168.04C97.8705 168.36 97.1903 168.59 96.6104 168.59C95.7004 168.59 95.0495 168.17 95.0195 167.04V161.8H98.6396V157.24H95.0498V152.61L89.1299 153.26ZM163.48 153.26V157.24H160.92V161.8H163.48V167.04C163.38 172.05 166.23 173.51 169.4 173.51C171.05 173.51 172.64 173.22 174 172.44L172.71 168.04C172.22 168.36 171.54 168.59 170.96 168.59C170.05 168.59 169.4 168.17 169.37 167.04V161.8H172.99V157.24H169.4V152.61L163.48 153.26ZM128.42 156.79C123.76 156.79 120.651 160.47 120.65 165.14C120.65 169.81 123.27 173.14 127.96 173.43C129.74 173.52 131.88 172.97 133.24 171.42L133.5 173.13H139V157.14H133.4V157.15L133.11 158.86C132.27 157.57 130.69 156.79 128.42 156.79ZM101.68 173.15H107.67V164.7C107.7 162.82 108.96 161.95 110.16 161.95C111.36 161.95 112.27 162.5 112.33 164.31V173.14H118.25V164.27C118.25 158.89 115.21 156.79 111.97 156.79C110.06 156.79 108.83 157.4 107.7 158.86V150.5H101.68V173.15ZM41.7598 156.76C40.0798 156.73 38.0699 157.31 36.71 158.9L36.4502 157.15H31.1699V173.14H37.0596V164.72C37.0597 162.62 38.3898 161.651 39.8096 161.65C40.9095 161.65 42.04 162.33 42.04 164.3V173.13L42.0596 173.14H48.0098V164.27C48.0096 158.57 45.1297 156.79 41.7598 156.76ZM153.09 156.76C151.41 156.73 149.4 157.31 148.04 158.9L147.78 157.15H142.5V173.14H148.39V164.72C148.39 162.62 149.72 161.651 151.14 161.65C152.24 161.65 153.37 162.33 153.37 164.3V173.13L153.39 173.14H159.34V164.27C159.34 158.57 156.46 156.79 153.09 156.76ZM80.8799 156.75C79.33 156.75 77.84 157.4 77 158.89L76.6396 157.14L76.6299 157.13H71.29V173.12H77.25V164.8C77.2501 162.7 78.51 161.79 80 161.79C81.01 161.79 81.7204 161.98 82.6904 162.76L85.0898 158.46C84.0498 157.37 82.4298 156.75 80.8799 156.75ZM129.77 161.61C131.869 161.61 133.07 163 133.07 165.14C133.07 167.02 131.78 168.64 129.77 168.64C127.99 168.639 126.57 167.369 126.57 165.14C126.57 162.9 127.99 161.611 129.77 161.61ZM59.5498 161.67C61.6498 161.67 62.8496 163.33 62.8496 165.17C62.8496 167.11 61.6498 168.63 59.5498 168.63C57.4499 168.63 56.25 167.02 56.25 165.17C56.25 163.32 57.45 161.67 59.5498 161.67ZM74.5098 119.2C73.9898 119.88 73.34 120.69 72.79 121.4C71.7201 121.01 70.5902 120.78 69.4902 120.78C64.5403 120.78 60.59 124.02 60.5898 128.97C60.5898 133.92 64.1202 137.03 69.4902 137.03C71.66 137.03 72.3701 138 72.3701 139.17C72.3701 140.73 71.0099 141.47 69.4199 141.47C67.8299 141.47 66.3502 140.92 66.4102 138.43H60.8203C60.5003 143.31 63.6999 146.29 69.4297 146.29C73.9897 146.29 78.4902 144.35 78.4902 139.17C78.4902 138.3 78.2895 136.03 75.3496 134.35C77.1896 133.02 78.2297 131.05 78.2598 129.04C78.3298 127.62 77.9101 126.03 76.7402 124.74L78.8096 122.28L74.5098 119.2ZM92.2695 117.43V121.41H89.71V125.97H92.2695V131.669C92.3486 136.31 95.1194 137.68 98.1904 137.68C99.8402 137.68 101.43 137.39 102.79 136.61L101.5 132.21C101.01 132.53 100.33 132.76 99.75 132.76C98.84 132.76 98.1902 132.34 98.1602 131.21V125.97H101.78V121.41H98.1904V116.78L92.2695 117.43ZM111.59 120.96C106.93 120.96 103.82 124.64 103.82 129.31C103.82 133.98 106.44 137.31 111.13 137.6C112.91 137.69 115.05 137.14 116.41 135.59L116.67 137.3H122.17V121.31H116.57V121.32L116.28 123.03C115.44 121.74 113.86 120.96 111.59 120.96ZM42.5303 122.66C41.6603 121.6 40.1396 120.95 38.0996 120.95C33.4399 120.95 30.3302 124.25 30.3301 129.3C30.3301 134.35 32.9499 137.3 37.6396 137.59C39.4196 137.68 41.5599 137.13 42.9199 135.58L43.1797 137.29H48.4902V114.64H42.5303V122.66ZM125.66 137.3H131.55V114.61H125.66V137.3ZM51.9697 137.29H57.96V121.56H51.9697V137.29ZM81.3604 137.29H87.3496V121.56H81.3604V137.29ZM39.4502 125.78C41.55 125.78 42.6503 127.53 42.6504 129.47C42.6504 131.15 41.4601 132.8 39.4502 132.8C37.7257 132.8 36.3387 131.608 36.2539 129.506L36.25 129.31C36.2502 127.07 37.6703 125.78 39.4502 125.78ZM112.94 125.77C115.04 125.77 116.24 127.16 116.24 129.3C116.24 131.18 114.95 132.8 112.94 132.8C111.16 132.8 109.74 131.53 109.74 129.3C109.74 127.06 111.16 125.77 112.94 125.77ZM69.4902 125.68C71.2401 125.68 72.5 127.171 72.5 128.98C72.4998 131.12 71.08 132.12 69.4902 132.12C67.7404 132.12 66.3801 130.89 66.3799 128.98C66.3799 126.85 67.7402 125.68 69.4902 125.68ZM54.9805 114.19C53.2905 114.19 51.6104 115.22 51.6104 117.2C51.6105 119.18 53.3305 120.18 54.9805 120.18C56.6303 120.18 58.3095 119.21 58.3096 117.2C58.3096 115.19 56.6303 114.191 54.9805 114.19ZM84.3701 114.19C82.6801 114.19 81 115.22 81 117.2C81.0001 119.18 82.7202 120.18 84.3701 120.18C86.02 120.18 87.7001 119.21 87.7002 117.2C87.7002 115.19 86.0201 114.19 84.3701 114.19ZM57.6201 61.3975L49.7812 47.6328L43.3252 51.3096L51.3965 65.4834L37.2393 57.3955L33.5527 63.8467L47.334 71.7197H31.46V79.1504H47.3135L33.5322 86.998L37.209 93.4551L51.3838 85.3818L43.2949 99.541L49.7461 103.227L57.6201 89.4443V105.32H65.0498V89.458L72.8926 103.23L79.3496 99.5537L71.2939 85.4082L85.4336 93.4863L89.1191 87.0352L75.3184 79.1504H91.21V71.7197H75.377L89.1309 63.8877L85.4541 57.4307L71.3086 65.4854L79.3867 51.3467L72.9346 47.6611L65.0498 61.4619V45.5703H57.6201V61.3975Z"
                  fill="currentColor"></path>
              </g>
              <defs>
                <clipPath id="clip0_0_3">
                  <rect width="219.56" height="219.56" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>
          <a
            href="https://www.storyblok.com/lp/developers?utm_source=meetup&utm_medium=event&utm_campaign=DEV_GEN_AWA_701W600001BwPMTIA3&utm_term=meetup-fund-nn1"
            class="organisers__partner"
          >
            <svg
              class="organisers__logo organisers__logo--storyblok"
              fill="currentColor"
              viewBox="0 0 103 22"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="m29.0287 14.9602c-.7601 0-1.4985-.1113-2.2369-.3563-.693-.2303-1.3298-.61-1.8678-1.1137l.9773-1.6927c.543.3787 1.0642.6682 1.5854.8909.4995.2228.9991.3118 1.4769.3118.3475 0 .6298-.0668.8252-.2004.1955-.1114.2824-.3118.2824-.5568 0-.2228-.1086-.4455-.3692-.5791-.4082-.2006-.8384-.3502-1.2814-.4455l-1.5203-.5122c-.4126-.1782-.7384-.3564-.999-.5569-.2606-.17814-.4561-.42314-.5647-.66814-.1182-.28119-.1774-.58473-.1737-.89091-.0127-.87671.3626-1.71211 1.0207-2.27182.3041-.26727.695-.46773 1.1294-.62364.4343-.15591.9121-.22272 1.4117-.22272.6732 0 1.303.08909 1.8894.26727.5864.20045 1.1511.53454 1.694 1.02454l-1.0641 1.67046c-.4204-.30845-.8718-.56979-1.3466-.77955-.4126-.17818-.7818-.245-1.1727-.245-.2824 0-.543.04455-.7385.17819-.2171.11136-.304.31181-.304.57909 0 .26727.1086.44545.3258.57909.2171.13363.6515.26727 1.2379.42318.5444.14062 1.0809.31164 1.6071.51227.4344.17818.7819.37859 1.0642.57909.5339.4032.8291 1.059.7819 1.7373 0 .9132-.3258 1.6259-.9991 2.1604-.6515.5346-1.5202.8018-2.6713.8018zm10.7505-.6459c-.3692.1559-.8036.3119-1.2814.4455s-.9556.2227-1.4551.2227c-.3475 0-.6516-.0445-.9556-.1336-.2956-.0884-.5695-.2402-.8036-.4455-.2172-.1782-.3909-.4454-.5212-.735-.1303-.3118-.2172-.6904-.2172-1.1359v-4.78862h-1.1293v-2.09363h1.151v-2.91773h2.6931v2.89546h1.8243v2.1159h-1.8243v3.83092c0 .2895.0651.5123.2172.6682.152.1113.3474.1782.5646.1782s.4344-.0223.6298-.1114c.2172-.0668.4127-.1336.5647-.2227l.5213 2.2272zm5.082.6459c-.6911.0124-1.3777-.1163-2.0198-.3786-1.1302-.4585-2.0153-1.3906-2.4324-2.5614-.4267-1.1629-.4267-2.44521 0-3.60813.4171-1.17077 1.3022-2.10286 2.4324-2.56137.5864-.245 1.2597-.37863 2.0198-.37863 1.3221-.06382 2.6059.46447 3.5183 1.44772.4127.42319.7167.93546.9339 1.49228.4446 1.1672.4446 2.46323 0 3.63043-.4197 1.1563-1.2948 2.078-2.4107 2.5391-.6489.2652-1.3431.394-2.0415.3786zm-1.9546-4.7218c0 .7128.1737 1.2918.5429 1.715.391.4455.8688.6682 1.4334.6682.5455.0108 1.0658-.2354 1.4117-.6682.1737-.2227.3041-.4454.4126-.7572.1086-.2896.1521-.6237.1521-.9578 0-.73497-.1955-1.31406-.5647-1.73724-.3692-.44546-.847-.66819-1.4117-.66819-.5435-.00126-1.06.24319-1.4117.66819-.1737.22272-.3257.44545-.4343.75727-.0979.31658-.142.64809-.1303.97997zm13.7475-2.20497c-.6515 0-1.2596.11136-1.8026.33409-.4779.16527-.8849.49602-1.151.93545v5.50133h-2.7148v-9.15405h2.4976v1.82636c.304-.62363.695-1.11363 1.1945-1.44773.4778-.35636.9773-.53454 1.5203-.55681h.2823l.1737.02227v2.51682zm1.1945 8.12957c.3777.1346.7731.2097 1.1728.2227.3258 0 .5864-.1114.7819-.3341.1737-.2227.3257-.6682.4778-1.2473l-3.3881-9.15405h2.8017l2.0632 6.74865 1.8026-6.74865h2.541l-3.4097 10.62405c-.5349 1.8045-2.328 2.8885-4.1265 2.4946-.2172-.0446-.4778-.1114-.7167-.2227zm14.6815-1.2026c-.6733 0-1.2814-.1338-1.7809-.4456-.5075-.2859-.9284-.7098-1.2162-1.225v1.5145h-2.3673v-12.73996h2.7365v5.07818c.594-1.06607 1.7135-1.70864 2.9102-1.67045.5647 0 1.0859.11136 1.5637.37863.4778.22273.8687.57909 1.2379 1.00228 1.0691 1.52148 1.36 3.47722.7819 5.25632-.2172.5791-.5213 1.0914-.8905 1.5146-.7625.8574-1.8438 1.343-2.9753 1.3365zm-.7602-2.3388c.8816.0019 1.667-.5708 1.9546-1.4254.3185-.8973.1625-1.89956-.4126-2.6505-.3395-.45853-.8721-.72333-1.4334-.71273-.4126 0-.8036.15591-1.1728.44546-.3475.31182-.6298.69045-.8252 1.15818v1.91549c.3504.7578 1.0933 1.2426 1.9111 1.2472zm6.2548-10.55726h2.7148v9.46586c0 .7128.2823 1.0469.8687 1.0469.3101.0009.6157-.0756.8905-.2228l.3692 2.0714c-.7607.3417-1.5804.5234-2.4107.5345-.7819 0-1.39-.2227-1.8026-.6236-.4344-.4454-.6516-1.0245-.6516-1.8264v-10.44586zm9.9686 12.89586c-.691.0124-1.3776-.1163-2.0197-.3786-1.1369-.4557-2.0299-1.3876-2.4542-2.5614-.628-1.7505-.2786-3.71275.9122-5.12268.4343-.44545.9121-.77954 1.5202-1.04682.5864-.245 1.2597-.37863 2.0198-.37863 1.3221-.06382 2.606.46447 3.5184 1.44772.4343.42319.7166.93546.9338 1.49228.6529 1.74823.3011 3.72393-.9121 5.12273-.4127.4454-.9122.8018-1.5203 1.0468-.6421.2623-1.3287.391-2.0198.3786zm-1.9763-4.7218c0 .7128.1737 1.2918.5429 1.715.391.4455.8688.6682 1.4334.6682.5449.0075 1.0638-.2381 1.4117-.6682.1738-.2227.3041-.4454.4127-.7572.1085-.2896.152-.6237.152-.9578 0-.73497-.1955-1.31406-.5647-1.73724-.3692-.44546-.847-.66819-1.4117-.66819-.5435-.00126-1.0599.24319-1.4116.66819-.1738.22272-.3258.44545-.4344.75727s-.1303.62364-.1303.97997zm14.095 4.5659-2.3238-3.6972-.9556 1.0245v2.6727h-2.7148v-12.73996h2.7148v7.37227l3.0188-3.78636h2.8886l-3.2144 3.94227 3.4754 5.21178z"
              ></path><path
                clip-rule="evenodd"
                d="m0 1.75796c0-.944897.76599-1.7108866 1.71089-1.7108866h15.39801c.9449 0 1.7109.7659906 1.7109 1.7108866v15.39794c0 .9449-.766 1.7109-1.7109 1.7109h-9.97745l-2.55529 2.11c-.33171.2738-.8325.0379-.8325-.3923v-1.7177h-2.03277c-.9449 0-1.71089-.766-1.71089-1.7109zm3.74233 1.39858h8.22517c1.7763 0 3.2164 1.44003 3.2164 3.21641 0 1.42348-.9247 2.63099-2.2062 3.05457 1.4984.27402 2.634 1.58628 2.634 3.16378 0 1.7764-1.44 3.2165-3.2164 3.2165h-8.65283v-6.21844h-.00014zm6.84067 2.89438h-3.84693v1.92984h3.84693c.5329 0 .9649-.43201.9649-.96492s-.432-.96492-.9649-.96492zm-3.84693 4.28868h4.16743c.5921 0 1.0722.48 1.0722 1.0721 0 .5922-.4801 1.0722-1.0722 1.0722h-4.16743z"
                fill-rule="evenodd"></path></svg
            >
          </a>
          <a href="https://labs.uk.barclays" class="organisers__partner">
            <svg
              width="142"
              height="127"
              viewBox="0 0 142 127"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              class="organisers__logo organisers__logo--barclays"
            >
              <path
                d="M93.7752 17.2242C93.9544 19.2665 93.9406 21.3214 93.7339 23.3611C93.4761 26.3604 92.9804 28.15 92.2667 30.0696C91.5667 31.9759 90.6922 33.8123 89.6544 35.555L89.5949 35.6516C89.2843 36.1632 89.0563 36.5381 88.934 36.7147L88.8596 36.6314C88.7423 36.5081 88.5672 36.3231 88.2962 36.0515C87.9013 35.6516 86.7893 34.1886 86.4787 33.7387C86.0272 33.0933 85.623 32.4156 85.2692 31.7109L85.104 31.3493L84.7933 31.5959C84.6204 31.749 84.4842 31.9396 84.3949 32.1535C84.3056 32.3674 84.2656 32.5989 84.2778 32.8306C84.2778 33.2788 84.3869 33.7987 84.6562 34.7485C85.0101 35.9267 85.4841 37.0647 86.0706 38.1444C86.1433 38.2827 86.2176 38.4176 86.287 38.5426C86.7017 39.2941 86.862 39.6374 86.6654 39.7807C86.6391 39.7999 86.607 39.8093 86.5745 39.8073C86.3283 39.8073 85.8739 39.5707 85.3584 39.1741C84.9007 38.8226 83.6747 37.7761 82.191 35.6849C81.0759 34.1191 80.1064 32.453 79.2945 30.7077L79.1657 30.4345C79.0402 30.4786 78.919 30.5344 78.8038 30.6011C78.6808 30.6702 78.5786 30.7715 78.508 30.8944C78.3304 31.2594 78.2725 31.672 78.3428 32.0724C78.4783 33.1855 79.126 34.8851 79.6481 36.1115C80.5304 38.1827 82.153 40.5122 83.3592 42.1101C83.4054 42.1718 83.46 42.2368 83.5244 42.3034C83.5888 42.3701 83.6896 42.505 83.7491 42.5884C83.6434 42.6967 83.3972 42.9 83.0998 43.1466L82.6553 43.5098C81.0552 44.8431 79.3348 46.0224 77.5167 47.0323C76.0098 47.8822 72.9431 49.4518 70.9075 50C68.8735 49.4518 65.8085 47.8822 64.2984 47.0323C62.4786 46.0235 60.757 44.8441 59.1564 43.5098L58.702 43.1366C58.4046 42.8916 58.1584 42.6867 58.0593 42.5834C58.1072 42.5217 58.398 42.1718 58.4459 42.1101C59.6505 40.5238 61.273 38.196 62.157 36.1115C62.6775 34.8868 63.3268 33.1922 63.4639 32.0708C63.5306 31.6741 63.4728 31.2664 63.2987 30.9044C63.2131 30.7478 63.0791 30.6237 62.917 30.5511L62.6411 30.4345L62.5106 30.7061C61.7044 32.4511 60.7409 34.1177 59.6323 35.6849C58.1452 37.7745 56.9159 38.8209 56.4566 39.1691C55.9493 39.5591 55.485 39.8023 55.2405 39.8023C55.2141 39.8042 55.1877 39.7984 55.1645 39.7857L55.1182 39.749C54.9712 39.5924 55.1381 39.2491 55.533 38.5326L55.7461 38.1394C56.328 37.0606 56.7996 35.9251 57.1539 34.7502C57.4248 33.797 57.5273 33.2772 57.5339 32.8306C57.5461 32.5987 57.506 32.3671 57.4164 32.1531C57.3268 31.9392 57.1901 31.7487 57.0167 31.5959L56.7061 31.3493L56.5409 31.7109C56.1895 32.4158 55.7869 33.0936 55.3363 33.7387C55.0224 34.1903 53.9104 35.6566 53.5188 36.0515C53.2478 36.3231 53.0727 36.5098 52.9554 36.6331C52.9273 36.6647 52.9025 36.6897 52.881 36.7114C52.7488 36.5314 52.5093 36.1382 52.1821 35.6C51.1306 33.8443 50.2455 31.9927 49.5384 30.0696C48.8214 28.1483 48.3257 26.3554 48.0663 23.3611C47.8588 21.3198 47.8455 19.2631 48.0266 17.2192C48.2563 14.8164 48.8527 12.5536 49.707 10.8323C50.9132 8.40452 52.4167 6.96651 54.3003 6.4333C54.964 6.24467 55.6498 6.14659 56.3393 6.1417C57.8362 6.1417 59.0309 6.64159 59.8917 7.61637C60.1318 7.9018 60.301 8.24086 60.3852 8.60541C60.4694 8.96996 60.4662 9.3495 60.3758 9.71255C60.2106 10.3791 59.7496 10.799 59.1416 11.0872C59.0348 11.1363 58.9243 11.1764 58.8111 11.2072C58.8568 11.3306 58.9178 11.4476 58.9928 11.5555C59.5943 12.5336 60.7658 13.0551 62.3751 13.0551C62.762 13.0536 63.1485 13.0258 63.5317 12.9718C65.8201 12.6419 66.8511 11.1839 67.2328 8.37619C67.3799 7.27978 67.5203 6.35832 66.8197 5.21025C66.3241 4.41043 64.9279 3.93887 63.9035 3.94221C62.9881 3.94221 62.5023 4.18715 62.2099 4.49541C62.1966 4.45042 62.1322 4.37377 62.1157 4.32878C61.969 4.00308 61.9319 3.63797 62.0099 3.28902C62.1369 2.7591 62.4259 2.28286 62.8361 1.92767C63.4417 1.40465 64.1687 1.04467 64.9494 0.881241C65.4404 0.765641 65.9422 0.70308 66.4463 0.694617C66.5636 0.694617 66.9519 0.694617 67.1254 0.706281C67.1998 0.706281 67.213 0.67962 67.2675 0.611302C67.598 0.203062 68.13 -0.0202197 69.085 0.00144197C69.8236 0.0181048 70.8084 0.0564294 71.5833 0.306372C72.0962 0.466427 72.582 0.704081 73.0241 1.01121C73.5558 1.39685 73.9591 1.936 74.1807 2.55752C74.5169 3.6366 74.6961 4.75914 74.7127 5.89009C74.7656 8.48283 75.1308 10.0558 75.8512 10.9956C77.0078 12.5086 77.9991 12.8285 79.2037 12.9018H79.3342C81.5995 12.9018 82.4256 12.177 82.7941 11.6254C82.8957 11.4821 82.99 11.3336 83.0766 11.1806C82.9168 11.1523 82.7593 11.1117 82.6057 11.0589C82.3212 10.9525 82.067 10.7772 81.8653 10.5486C81.6637 10.32 81.5208 10.0449 81.4491 9.74754C81.3507 9.38047 81.3417 8.99487 81.4229 8.62353C81.504 8.25219 81.6728 7.9061 81.9151 7.6147C82.989 6.35665 84.5885 6.15003 85.446 6.13837H85.5418C86.2014 6.13657 86.8573 6.23717 87.4866 6.43664C88.2728 6.67467 89.0092 7.05587 89.6593 7.56138C90.8341 8.50949 91.576 9.8042 92.0899 10.824C92.9375 12.5086 93.567 14.8964 93.7752 17.2242Z"
              ></path>
              <path
                d="M11.3 72.1C13.7 71.5 16.4 69.8 16.4 66.9C16.4 62.6 12.3 62.6 10.2 62.6H1.59998C1.99998 62.8 2.19998 63.9 2.19998 65.4C2.19998 67.2 2.09998 69.7 1.79998 73.1L1.69998 74.5C1.29998 80.4 1.09998 83.8 0.0999756 84.6H7.79998C13.7 84.6 17.3 81.6 17.3 77.7C17.4 74.1 14.8 72.5 11.3 72.1ZM6.19998 69.9C6.29998 68.3 6.49998 66.7 6.69998 65.2C7.19998 65.1 7.79998 65.1 8.19998 65.1C10.8 65.1 12 66.2 12 67.7C12 70.3 9.39998 71.3 6.59998 71.3H6.09998L6.19998 69.9ZM7.59998 81.8C6.09998 81.8 5.49998 81.4 5.49998 81.2C5.49998 79.8 5.59998 78.7 5.69998 77.2L5.89998 74H7.49998C10.4 74 12.7 74.9 12.7 77.8C12.7 80.4 10.7 81.8 7.59998 81.8ZM136.8 71.8C134.6 70.4 132.5 69.2 132.5 67.6C132.5 65.6 134.2 64.8 136.1 64.8C138.3 64.8 140.2 66.1 141.1 67.7L141.7 62.5C140.2 62.5 138.7 62.1 136.3 62.1C132.2 62.1 128.2 63.7 128.2 68.4C128.2 71.6 130.5 73.3 134.1 75.5C135.8 76.5 137.2 77.6 137.2 79.2C137.2 81.2 135.5 82.3 133.2 82.3C130.2 82.3 128.2 80.6 127.1 78.3L126.7 83.8C129 84.7 131 85 132.9 85C137.6 85 141.6 82.4 141.6 78.3C141.6 75.1 139.2 73.3 136.8 71.8ZM121.1 72.7C122.2 70.9 127.3 62.8 128.5 62.6H122.6C122.8 62.8 122.9 63.4 122.9 63.9C122.9 64.6 122.6 65.2 122.3 65.8C120.9 68 119.9 69.7 118.3 72C117.7 70.2 116.6 67.8 115.2 64.5C114.3 62.5 113.9 62.3 112.4 62.3C111.6 62.3 109.8 62.4 108.5 62.5C109.3 62.9 110.5 64.8 111.6 66.8C113.3 70 114.4 72.7 115.2 75.5C115.3 77.4 114.8 83.6 113.8 84.6H119.8C119.3 84.1 119.2 82.8 119.2 81.8C119.2 79.4 119.4 77.2 119.7 75.6C119.9 74.7 120.6 73.6 121.1 72.7ZM56.4 80.9L51.9 74.9C51.6 74.5 51.1 73.8 50.8 73.6C53.7 72.7 56.1 70.8 56.1 67.3C56.1 63 52.4 62.6 49.8 62.6H41.6C42 62.8 42.2 63.8 42.2 65.4C42.2 67.2 42.1 69.7 41.8 73.1L41.7 74.5C41.2 81.3 40.9 83.9 40 84.6H46C45.6 84.4 45.4 83.3 45.4 81.8C45.4 80.5 45.5 78.7 45.6 76.4L45.7 74.8H45.8C46.6 74.8 46.9 75.3 47.4 75.9L53.6 84.5C54.1 85.2 54.5 85.5 56.2 85.5C57.3 85.5 59 85.4 60.2 85.3C59.5 84.8 59.2 84.6 56.4 80.9ZM47.1 72C46.8 72 46.4 72 46.1 71.9L46.2 70.4C46.4 67.8 46.5 66.1 46.7 65.2C47.2 65.1 47.9 65.1 48.4 65.1C50.5 65.1 51.7 66.1 51.7 67.8C51.7 70.4 49.8 72 47.1 72ZM34.8 74.7L33.9 71.3L31.5 62.6H26.7C26.9 62.8 27 63.3 27 63.8C27 64.3 25.5 67.6 24.1 70.6L22.6 73.9C19.9 79.6 18 83.1 16.5 84.6H21.8C21.7 84.4 21.7 83.9 21.7 83.6C21.7 82.4 22.8 80.3 23.2 79.3L23.7 78.4H26.3C28.9 78.4 30.5 78.1 31.5 77.7L32 79.6C33.5 84.8 33.7 84.9 35.6 84.9C36.2 84.9 37.7 84.8 39 84.7C37.5 83.4 36.5 80.6 34.8 74.7ZM24.9 75.3L28.5 67.6L30.7 75.3H24.9ZM63.7 74.2C63.7 69.8 65.6 64.7 70.3 64.7C72.7 64.7 74.5 66 75.5 68L76.1 62.4C74.2 62.4 73.1 62 70.7 62C63.1 62 59.1 67.7 59.1 75C59.1 80.3 62.4 85 68.1 85C72.5 85 75.1 82.8 76.3 79.1C73.5 81.1 71.8 81.6 69.9 81.6C66.4 81.6 63.7 79 63.7 74.2ZM106.6 74.7L105.7 71.3C105.3 69.8 103.3 62.6 103.3 62.6H98.5C98.7 62.8 98.8 63.3 98.8 63.8C98.8 64.4 97.4 67.5 95.9 70.6L94.4 73.9C93.3 76.4 92.1 78.7 91 80.6C89.3 81.7 88.4 81.8 84.8 81.8C83.8 81.8 83.4 81.6 83.4 80.6C83.4 78.4 83.7 76.2 83.8 74L83.9 72.7C84.3 66.8 84.6 63.2 85.5 62.7H79.5C79.9 63.2 80 64 80.1 65.5C80.1 67.3 80 69.8 79.7 73.2L79.6 74.6C79.2 80.5 78.9 83.7 78 84.7H93.6C93.5 84.5 93.5 84 93.5 83.7C93.5 82.5 94.4 80.8 95 79.4L95.5 78.5H98.1C100.7 78.5 102.3 78.2 103.3 77.8L103.8 79.7C105.3 84.9 105.5 85 107.4 85C108 85 109.6 84.9 110.8 84.8C109.2 83.4 108.2 80.6 106.6 74.7ZM96.7 75.3L100.3 67.6L102.5 75.3H96.7Z"
              ></path>
              <path
                d="M0.5 119.5V97.5H14.7V101.2H4.7V106.3H12.1V110H4.7V115.7H15.5V119.4H0.5V119.5Z"
              ></path>
              <path
                d="M26.6 119.5L26.5 118C26.1 118.5 25.4 119 24.6 119.4C23.7 119.8 22.8 120 21.7 120C20.9 120 20 119.8 19.2 119.5C18.4 119.1 17.7 118.6 17.2 117.9C16.7 117.2 16.4 116.2 16.4 115.1C16.4 113.3 17 112 18.3 111C19.6 110 21.2 109.5 23.2 109.5C23.6 109.5 24 109.5 24.5 109.5C25 109.5 25.7 109.6 26.5 109.6V109.2C26.5 108.4 26.2 107.8 25.6 107.4C25 107 24.2 106.7 23.2 106.7C22.1 106.7 21.2 106.8 20.6 107.1C19.9 107.4 19.4 107.7 18.9 108L17.1 105.4C17.5 105.1 18 104.8 18.6 104.5C19.2 104.2 19.9 104 20.7 103.8C21.5 103.6 22.6 103.5 23.8 103.5C25.8 103.5 27.4 104 28.5 105.1C29.7 106.1 30.3 107.5 30.3 109.1V119.5H26.6ZM26.5 114V112.5C26 112.5 25.4 112.4 24.9 112.4C24.3 112.4 23.9 112.4 23.5 112.4C22.2 112.4 21.4 112.6 20.9 113.1C20.4 113.6 20.1 114.2 20.1 114.8C20.1 115.5 20.3 116 20.8 116.3C21.3 116.7 22 116.9 22.9 116.9C23.5 116.9 24.1 116.8 24.6 116.5C25.1 116.2 25.6 115.9 25.9 115.4C26.3 115 26.5 114.6 26.5 114Z"
              ></path>
              <path
                d="M33.7 124.9L35.4 122C36.6 122.8 38.1 123.2 39.9 123.2C40.9 123.2 41.8 122.9 42.4 122.3C43.1 121.7 43.4 120.8 43.4 119.7V118C42.9 118.4 42.3 118.8 41.7 119.1C41.1 119.4 40.2 119.5 39.2 119.5C37.7 119.5 36.5 119.2 35.4 118.5C34.3 117.9 33.5 117 33 115.8C32.4 114.7 32.2 113.4 32.2 111.9C32.2 110.4 32.6 109 33.3 107.7C34 106.4 35 105.5 36.3 104.7C37.6 104 39.2 103.6 40.9 103.6C42.2 103.6 43.5 103.7 44.6 103.9C45.7 104.1 46.7 104.4 47.3 104.6V119.6C47.3 121 47 122.2 46.3 123.3C45.7 124.3 44.8 125.1 43.7 125.6C42.6 126.1 41.3 126.4 39.9 126.4C38.3 126.4 37 126.3 36.1 126C35.3 125.8 34.5 125.4 33.7 124.9ZM43.6 112.9V107.4C43.3 107.3 43 107.2 42.6 107.2C42.3 107.1 41.8 107.1 41.1 107.1C40 107.1 39.2 107.3 38.4 107.8C37.7 108.3 37.1 108.8 36.8 109.6C36.4 110.3 36.2 111.1 36.2 112C36.2 113.2 36.5 114.2 37.1 115C37.7 115.8 38.6 116.2 40 116.2C42.4 116.1 43.6 115.1 43.6 112.9Z"
              ></path>
              <path d="M50.3 119.5V97.5H54.2V119.5H50.3Z"></path>
              <path
                d="M69.5 114.9L71.6 117.3C71.5 117.4 71.4 117.5 71.1 117.8C70.8 118.1 70.4 118.4 69.8 118.8C69.2 119.1 68.5 119.4 67.7 119.7C66.8 120 65.8 120.1 64.6 120.1C63 120.1 61.5 119.7 60.3 119C59.1 118.3 58.1 117.3 57.4 116C56.7 114.7 56.4 113.3 56.4 111.6C56.4 110.1 56.7 108.7 57.4 107.5C58 106.3 58.9 105.3 60.1 104.6C61.3 103.9 62.6 103.5 64.2 103.5C65.6 103.5 66.8 103.8 67.8 104.3C68.8 104.8 69.5 105.5 70.1 106.3C70.7 107.1 71.1 108.1 71.4 109.2C71.7 110.3 71.8 111.3 71.8 112.4V113H60.3C60.3 113.7 60.5 114.4 60.9 115C61.3 115.6 61.9 116 62.5 116.3C63.2 116.6 63.8 116.8 64.5 116.8C65.5 116.8 66.3 116.7 67 116.5C67.7 116.3 68.2 116 68.6 115.7C69 115.3 69.3 115.1 69.5 114.9ZM60.2 110.1H67.8C67.8 109.6 67.7 109.1 67.4 108.5C67.1 108 66.7 107.6 66.2 107.2C65.7 106.9 65 106.7 64.2 106.7C63.3 106.7 62.6 106.9 62 107.2C61.4 107.5 61 108 60.7 108.5C60.4 109.1 60.2 109.6 60.2 110.1Z"
              ></path>
              <path d="M79.2 119.5V97.5H83.4V115.8H94.2V119.5H79.2Z"></path>
              <path
                d="M105.3 119.5L105.2 118C104.8 118.5 104.1 119 103.3 119.4C102.4 119.8 101.5 120 100.4 120C99.6 120 98.7 119.8 97.9 119.5C97.1 119.1 96.4 118.6 95.9 117.9C95.4 117.2 95.1 116.2 95.1 115.1C95.1 113.3 95.7 112 97 111C98.3 110 99.9 109.5 101.9 109.5C102.3 109.5 102.7 109.5 103.2 109.5C103.7 109.5 104.4 109.6 105.2 109.6V109.2C105.2 108.4 104.9 107.8 104.3 107.4C103.7 107 102.9 106.7 101.9 106.7C100.8 106.7 99.9 106.8 99.3 107.1C98.6 107.4 98.1 107.7 97.6 108L95.8 105.4C96.2 105.1 96.7 104.8 97.3 104.5C97.9 104.2 98.6 104 99.4 103.8C100.2 103.6 101.3 103.5 102.5 103.5C104.5 103.5 106.1 104 107.2 105.1C108.4 106.1 109 107.5 109 109.1V119.5H105.3ZM105.2 114V112.5C104.7 112.5 104.1 112.4 103.6 112.4C103 112.4 102.6 112.4 102.2 112.4C100.9 112.4 100.1 112.6 99.6 113.1C99.1 113.6 98.8 114.2 98.8 114.8C98.8 115.5 99 116 99.5 116.3C100 116.7 100.7 116.9 101.6 116.9C102.2 116.9 102.8 116.8 103.3 116.5C103.8 116.2 104.3 115.9 104.6 115.4C105 115 105.2 114.6 105.2 114Z"
              ></path>
              <path
                d="M111.6 119V97.5H115.5V105.1C115.8 104.8 116.3 104.5 117 104.2C117.8 103.9 118.7 103.7 119.7 103.7C121.2 103.7 122.5 104.1 123.5 104.8C124.6 105.5 125.4 106.5 125.9 107.7C126.5 108.9 126.7 110.2 126.7 111.7C126.7 113.2 126.3 114.6 125.6 115.9C124.9 117.2 123.9 118.2 122.6 119C121.3 119.8 119.8 120.2 118 120.2C116.7 120.2 115.4 120.1 114.3 119.9C113.3 119.5 112.4 119.2 111.6 119ZM115.5 110.5V116.3C115.8 116.4 116.1 116.5 116.5 116.5C116.8 116.6 117.3 116.6 118 116.6C119.1 116.6 119.9 116.4 120.7 115.9C121.4 115.4 122 114.8 122.3 114.1C122.7 113.3 122.9 112.5 122.9 111.7C122.9 110.9 122.8 110.2 122.5 109.5C122.2 108.8 121.8 108.2 121.3 107.8C120.8 107.4 120 107.2 119.2 107.2C118 107.2 117.1 107.5 116.5 108.1C115.8 108.6 115.5 109.4 115.5 110.5Z"
              ></path>
              <path
                d="M128.2 117.6L130.5 115.1C131 115.6 131.6 116 132.3 116.3C133 116.6 133.9 116.8 134.8 116.8C135.6 116.8 136.3 116.7 136.8 116.5C137.3 116.3 137.6 115.9 137.6 115.4C137.6 115.1 137.5 114.8 137.3 114.6C137.1 114.4 136.7 114.1 136.2 113.9C135.7 113.7 134.8 113.4 133.7 113.2C133 113 132.3 112.8 131.5 112.4C130.7 112 130.1 111.5 129.5 110.9C129 110.3 128.7 109.4 128.7 108.4C128.7 107.4 129 106.5 129.6 105.8C130.2 105.1 131 104.5 132 104.2C133 103.8 134 103.6 135 103.6C136.4 103.6 137.5 103.7 138.5 104C139.5 104.3 140.3 104.7 141.1 105.3L139.1 108C138.7 107.7 138.1 107.4 137.4 107.2C136.7 106.9 135.9 106.8 135 106.8C134.1 106.8 133.5 106.9 133.1 107.2C132.7 107.5 132.5 107.8 132.5 108.2C132.5 108.7 132.8 109.1 133.4 109.3C134 109.6 134.9 109.9 136.2 110.2C137.8 110.6 139 111.1 139.9 111.8C140.8 112.5 141.3 113.7 141.3 115.1C141.3 116.1 141 117 140.4 117.7C139.8 118.4 139 119 138 119.4C137 119.8 135.9 120 134.7 120C133.3 120 132 119.8 130.8 119.4C129.8 119 128.9 118.4 128.2 117.6Z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="organisers__section">
        <Heading title="Open Collective contributors" level={3} anchor />
        <p class="organisers__p">
          We thank <a href="https://opencollective.com/nn1-dev"
            >our Open Collective</a
          > contributors. Every support, big or small, helps us sustain the event
          and focus on what matters most - creating a great experience for our community.
          Any excess funds will be donated to local charities, amplifying the impact
          of your generosity. Your support means the world to us.
        </p>
        <ul class="contributors__list">
          {contributorsData.map(({ name }) => <li>{name}</li>)}
        </ul>
      </div>
    </div>
  </Container>
</Section>

<style>
  .organisers {
    display: flex;
    flex-direction: column;
    gap: calc(var(--lh) * 3);
  }

  .organisers__section {
    display: flex;
    flex-direction: column;
    gap: var(--lh);
  }

  .organisers__grid {
    display: grid;
    gap: calc(var(--lh) * 2);

    @media (800px <= width) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .organisers__partners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--lh) / 2);

    @media (600px <= width) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (1000px <= width) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .organisers__partner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--lh);
    background-color: var(--color-bg-contrast);
    box-shadow: inset 0 0 0 1px var(--color-border);
    border-radius: var(--br);
    color: inherit;

    &:hover {
      box-shadow: inset 0 0 0 1px var(--color-accent);
      color: var(--color-accent);
    }
  }

  .organisers__logo {
    object-fit: contain;
    width: 100%;
    max-height: calc(var(--lh) * 2);
    aspect-ratio: 3/1;
  }

  .organisers__logo--resend {
    aspect-ratio: 5/1;
  }

  .organisers__logo--storyblok {
    aspect-ratio: 6/1;
  }

  @media (800px <= width) {
    .organisers__p {
      max-width: 70ch;
    }
  }

  .contributors__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      padding: calc(var(--lh) / 6) calc(var(--lh) / 2);
      background-color: var(--color-bg-contrast);
      box-shadow: inset 0 0 0 1px var(--color-border);
      border-radius: var(--br);
      margin-inline-end: calc(var(--lh) / 4);
      margin-block-end: calc(var(--lh) / 4);
      font-size: 14px;
    }
  }
</style>
