---
import Container from "../components/Container.astro";
import Profile from "../components/Profile.astro";
import Heading from "../components/Heading.astro";
import Section from "../components/Section.astro";

const data = [
  {
    image: "/pawel.jpg",
    name: "Pawel Grzybek",
    role: "Senior Software Engineer",
    bio: "I'm a software developer from Poland living in Northampton, UK. I'm a web standards, accessibility and performance enthusiast. Recently, I have enjoyed coding in Rust. After hours, I listen to funky records.",
    urlWebsite: "https://pawelgrzybek.com/",
    urlGitHub: "https://github.com/pawelgrzybek",
    urlLinkedIn: "https://www.linkedin.com/in/pgrzybek/",
    urlMastodon: "https://mastodon.social/@pawelgrzybek",
  },
  {
    image: "/darren.jpg",
    name: "Darren Sharp",
    role: "CEO at S-SA Digital",
    bio: "Darren the CEO of S-SA Digital Recruitment , With over 20 years under belt, he's been busy building tech teams all across the UK and Europe. As the CEO, he's all about making those perfect matches between top talent and forward-thinking tech companies. As Northampton based organization Darren is passionate about nurturing / championing local talent and helping folks reach their full potential.",
    urlWebsite: "https://s-sa.co.uk/",
    urlGitHub: "",
    urlLinkedIn: "https://www.linkedin.com/in/staffordsharp/",
    urlMastodon: "",
  },
];
---

<Section>
  <Container>
    <div class="organisers">
      <Heading title="Who's behind it?" level={2} anchor />
      <div class="organisers__grid">
        {data.map((dude) => <Profile {...dude} />)}
      </div>
      <Heading title="Partners" level={3} anchor />
      <div class="organisers__partners">
        <a href="https://vulcanworks.co.uk" class="organisers__partner">
          <img
            src="/partners/vulcan-works.png"
            alt="Vulcan Works"
            class="organisers__logo organisers__logo--vulcan-works"
          />
        </a>
        <a href="https://s-sa.co.uk" class="organisers__partner">
          <img
            src="/partners/s-sa.png"
            alt="S-SA Digital"
            class="organisers__logo organisers__logo--s-sa"
          />
        </a>
        <a href="https://labs.uk.barclays" class="organisers__partner">
          <img
            src="/partners/barclays.png"
            alt="Barclays Eagle Labs"
            class="organisers__logo organisers__logo--barclays"
          />
        </a>
        <a href="https://digitalnorthants.com" class="organisers__partner">
          <img
            src="/partners/digital-northants.png"
            alt="Digital northants Logo"
            class="organisers__logo organisers__logo--digital-northants"
          />
        </a>
        <a href="https://www.palarestaurant.co.uk" class="organisers__partner">
          <img
            src="/partners/pala.png"
            alt="Pala Restaurant"
            class="organisers__logo organisers__logo--pala"
          />
        </a>
      </div>
    </div>
  </Container>
</Section>

<style>
  .organisers {
    display: flex;
    flex-direction: column;
    gap: calc(var(--lh) * 1.5);
  }

  .organisers__grid {
    display: grid;
    gap: calc(var(--lh) * 2);

    @media (800px <= width) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .organisers__partners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--lh) / 2);

    @media (800px <= width) {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .organisers__partner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--lh);
    background-color: var(--color-bg-contrast);
    box-shadow: inset 0 0 0 1px var(--color-border);
    border-radius: 4px;

    &:hover {
      box-shadow: inset 0 0 0 1px var(--color-accent);
    }
  }

  .organisers__logo {
    object-fit: contain;
    width: 100%;
    max-height: calc(var(--lh) * 2);
    aspect-ratio: 3/1;
  }

  .organisers__logo--pala {
    aspect-ratio: 7/1;
  }
</style>
