---
import Container from "../components/Container.astro";
import Profile from "../components/Profile.astro";
import Heading from "../components/Heading.astro";
import Section from "../components/Section.astro";

const data = [
  {
    image: "/pawel.jpg",
    name: "Pawel Grzybek",
    role: "Senior Software Engineer",
    bio: "I'm a software developer from Poland living in Northampton, UK. I'm a web standards, accessibility and performance enthusiast. Recently, I have enjoyed coding in Rust. After hours, I listen to funky records.",
    urlWebsite: "https://pawelgrzybek.com/",
    urlGitHub: "https://github.com/pawelgrzybek",
    urlLinkedIn: "https://www.linkedin.com/in/pgrzybek/",
    urlMastodon: "https://mastodon.social/@pawelgrzybek",
    urlBluesky: "https://bsky.app/profile/pawelgrzybek.com",
  },
  {
    image: "/darren.jpg",
    name: "Darren Sharp",
    role: "CEO at S-SA Digital",
    bio: "Darren the CEO of S-SA Digital Recruitment , With over 20 years under belt, he's been busy building tech teams all across the UK and Europe. As the CEO, he's all about making those perfect matches between top talent and forward-thinking tech companies. As Northampton based organization Darren is passionate about nurturing / championing local talent and helping folks reach their full potential.",
    urlWebsite: "https://s-sa.co.uk/",
    urlGitHub: "",
    urlLinkedIn: "https://www.linkedin.com/in/staffordsharp/",
    urlMastodon: "",
  },
];

interface Contributor {
  role: string;
  totalAmountDonated: number;
  name: string;
  image?: string;
}

const contributors = await fetch(
  "https://opencollective.com/nn1-dev/members/all.json",
);
const contributorsJson: Array<Contributor> = await contributors.json();
const contributorsData = contributorsJson
  .filter(({ role }) => role === "BACKER")
  .sort((a, b) => b.totalAmountDonated - a.totalAmountDonated);
---

<Section>
  <Container>
    <div class="organisers">
      <div class="organisers__section">
        <Heading title="Who's behind it?" level={2} anchor />
        <div class="organisers__grid">
          {data.map((dude) => <Profile {...dude} />)}
        </div>
      </div>
      <div class="organisers__section">
        <Heading title="Partners" level={3} anchor />
        <div class="organisers__partners">
          <a href="https://resend.com/" class="organisers__partner">
            <svg
              class="organisers__logo organisers__logo--resend"
              viewBox="0 0 1500 489"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M25.4092 393.747V97.3065H146.103C211.32 97.3065 254.939 135.844 254.939 195.979C254.939 234.093 235.035 264.584 204.121 279.406L262.562 393.747H192.263L142.292 294.228H88.9323V393.747H25.4092ZM141.021 150.242H88.9323V241.292H141.021C171.089 241.292 190.146 223.506 190.146 195.979C190.146 168.029 171.089 150.242 141.021 150.242ZM388.86 396.288C316.444 396.288 272.825 352.669 272.825 285.335C272.825 217.577 317.291 173.534 384.625 173.534C449.842 173.534 493.885 214.189 494.732 278.135C494.732 284.488 494.308 291.687 493.038 298.463H335.077V301.427C336.348 332.342 356.252 350.975 386.319 350.975C410.458 350.975 427.398 340.388 432.479 320.061H491.344C484.568 362.409 446.878 396.288 388.86 396.288ZM336.348 259.502H434.597C430.362 232.822 412.152 218 385.049 218C359.216 218 339.736 233.669 336.348 259.502ZM515.546 321.331H572.293C574.41 340.388 590.926 353.516 620.147 353.516C645.133 353.516 660.378 345.47 660.378 330.224C660.378 312.438 645.556 311.167 610.407 306.509C559.588 300.58 520.204 289.146 520.204 244.256C520.204 201.061 557.894 172.687 613.795 173.111C672.236 173.111 712.467 198.943 715.431 243.409H658.261C656.567 226.046 640.051 215.459 615.912 215.459C592.62 215.459 577.375 223.929 577.375 237.904C577.375 254.42 596.008 256.114 627.346 259.925C677.318 265.007 718.819 276.441 718.819 325.566C718.819 368.762 678.165 396.288 619.723 396.288C559.165 396.288 518.087 367.915 515.546 321.331ZM857.839 396.288C785.423 396.288 741.803 352.669 741.803 285.335C741.803 217.577 786.27 173.534 853.604 173.534C918.821 173.534 962.864 214.189 963.711 278.135C963.711 284.488 963.287 291.687 962.017 298.463H804.056V301.427C805.326 332.342 825.23 350.975 855.298 350.975C879.437 350.975 896.376 340.388 901.458 320.061H960.323C953.547 362.409 915.857 396.288 857.839 396.288ZM805.326 259.502H903.575C899.341 232.822 881.131 218 854.027 218C828.195 218 808.714 233.669 805.326 259.502ZM1121.27 173.534C1168.28 173.534 1208.51 198.52 1208.51 273.054V393.747H1148.8V278.982C1148.8 242.139 1134.82 222.659 1104.75 222.659C1073.84 222.659 1056.05 244.68 1056.05 282.37V393.747H996.342V176.075H1048.43L1053.94 203.178C1067.91 186.239 1087.82 173.534 1121.27 173.534ZM1403.27 203.178V97.3065H1462.98V393.747H1410.89L1404.96 363.68C1390.56 382.313 1369.39 396.288 1338.05 396.288C1279.61 396.288 1236.84 353.516 1236.84 284.488C1236.84 217.153 1279.61 173.534 1337.63 173.534C1367.69 173.534 1389.29 185.392 1403.27 203.178ZM1351.18 347.587C1383.79 347.587 1404.11 322.178 1404.11 285.335C1404.11 248.068 1383.79 222.235 1351.18 222.235C1318.57 222.235 1297.82 247.644 1297.82 284.911C1297.82 322.178 1318.57 347.587 1351.18 347.587Z"
              ></path>
            </svg>
          </a>
          <a href="https://vulcanworks.co.uk" class="organisers__partner">
            <svg
              class="organisers__logo organisers__logo--vulcan-works"
              width="162"
              height="162"
              viewBox="0 0 162 162"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1_2)">
                <path
                  d="M161.54 161.54H0V0H161.54V161.54ZM81.0195 126.49C75.9399 126.49 71.8 130.45 71.7998 135.31C71.7998 140.169 75.9297 144.13 81.0195 144.13C86.1095 144.13 90.25 140.17 90.25 135.31C90.2498 130.45 86.0994 126.49 81.0195 126.49ZM136.92 126.49C131.93 126.49 129.65 129.05 129.65 131.95C129.65 134.85 131.601 136.73 136.19 137.46C138.39 137.81 139.27 137.96 139.27 138.69C139.269 139.62 137.79 139.77 136.46 139.72C136.449 139.72 133.515 139.716 131.02 137.79L129.24 141.62C129.267 141.645 131.992 144.13 136.46 144.13C141.71 144.13 143.939 141.662 144.073 138.544L144.1 138.25C144.1 133.99 139.99 133.17 136.68 132.74C134.9 132.51 134.47 132.26 134.47 131.71C134.47 131.26 134.901 130.91 136.48 130.91C139.821 130.91 141.381 132.104 141.39 132.11L143.29 128.5C141.01 126.49 136.92 126.49 136.92 126.49ZM93.6602 143.74H98.4697V138.53H99.4004L102.88 143.74H108.49L108.5 143.73L104.36 138.07C106.49 137.17 107.69 134.99 107.69 132.51C107.69 129.26 105.66 126.9 101.28 126.9H93.6602V143.74ZM50.4902 143.73H55.5L57.71 135.71L59.9102 143.73H64.9297L70.54 126.89H65.1299L62.3203 136.91L59.9102 126.89H55.5L53.0898 136.91L50.29 126.89H44.8799L50.4902 143.73ZM111.64 143.73H116.46V136.51L121.67 143.73H127.68L120.87 134.91L127.28 126.89H121.27L116.46 133.3V126.89H111.64V143.73ZM81.0303 130.9C83.46 130.901 85.4402 132.88 85.4404 135.31C85.4404 137.739 83.4601 139.72 81.0303 139.72C78.6003 139.72 76.6201 137.74 76.6201 135.31C76.6203 132.88 78.6004 130.9 81.0303 130.9ZM100.83 130.9C101.88 130.9 102.763 131.401 102.869 132.478L102.88 132.71C102.88 133.96 101.96 134.51 100.83 134.51H98.4697V130.9H100.83ZM57.2695 116.11C57.2697 120.53 60.2699 123.71 65.2695 123.71C70.2694 123.71 73.2694 120.53 73.2695 116.11V106.51H68.0703V116.16C68.0702 118.26 66.6695 119.31 65.2695 119.31C63.8697 119.309 62.4698 118.26 62.4697 116.16V106.51H57.2695V116.11ZM99.8301 106.1C94.6301 106.1 90.3799 110.05 90.3799 114.9C90.3801 119.75 94.6302 123.7 99.8301 123.7C101.8 123.7 104.08 122.98 105.58 121.68L103.75 117.6C102.85 118.62 101.47 119.3 99.9502 119.3C97.3303 119.3 95.1799 117.33 95.1797 114.9C95.1797 112.47 97.3202 110.5 99.9502 110.5C101.48 110.5 102.85 111.18 103.75 112.2L105.58 108.1C104.08 106.8 101.8 106.1 99.8301 106.1ZM43.5 123.31H48.2998L55.0898 106.51H49.5L45.9004 116.56L42.2998 106.51H36.7002L43.5 123.31ZM77.2803 123.31H88.4805V118.91H82.0801V106.51H77.2803V123.31ZM107.32 123.31H112.92L116.52 113.26L120.11 123.31H125.71L118.92 106.51H114.11L107.32 123.31ZM128.09 123.31H132.89V114.11L139.29 123.31H144.08V106.51H139.29V115.71L132.89 106.51H128.09V123.31ZM23.8301 23.2998H17.04V28.3096H23.8301V34.2002H29.6104V28.3096H36.3604V23.2998H29.6104V17.4404H23.8301V23.2998Z"
                  fill="currentColor"></path>
              </g>
              <defs>
                <clipPath id="clip0_1_2">
                  <rect width="161.54" height="161.54" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>
          <a href="https://s-sa.co.uk" class="organisers__partner">
            <svg
              class="organisers__logo organisers__logo--s-sa"
              viewBox="0 0 156 170"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1_7)">
                <path
                  d="M77.8408 0.00488281C83.8031 0.00488281 89.6607 1.57355 94.8242 4.55469L138.707 29.8887C143.87 32.8699 148.157 37.158 151.138 42.3213C154.118 47.4846 155.687 53.3418 155.687 59.3037V109.972C155.687 115.934 154.119 121.791 151.139 126.955C148.158 132.119 143.87 136.406 138.707 139.388L94.8291 164.722C89.6648 167.702 83.8071 169.27 77.8447 169.27C71.8825 169.269 66.0256 167.698 60.8623 164.717L16.9805 139.383C11.8166 136.402 7.52837 132.114 4.54688 126.95C1.56542 121.787 -0.00468079 115.929 -0.00488281 109.967V59.2988C-0.00400153 53.3373 1.5664 47.4808 4.54785 42.3184C7.52933 37.156 11.8173 32.8688 16.9805 29.8887L60.8584 4.55469C66.0217 1.57374 71.8788 0.00491361 77.8408 0.00488281ZM55.9082 54.3496C50.5812 54.3426 46.6247 55.8548 44.0527 58.5498C41.4808 61.2448 40.3965 64.9499 40.3994 69.0498C40.2288 72.6794 41.3872 76.247 43.6562 79.085C46.1732 81.9758 50.3719 83.8371 56.7256 83.8262H63.9736L60.3379 93.2266H41.2178V103.781H56.2568L50.7793 117.947H62.1484L62.4355 117.205L61.3496 116.788V116.785L62.4326 117.203L77.0537 79.3145L77.0527 79.3135C77.1548 79.0456 77.3282 78.8103 77.5547 78.6338C77.7763 78.4982 78.0348 78.4353 78.2939 78.4531C78.5462 78.4354 78.7977 78.4965 79.0137 78.6279C79.2283 78.7993 79.3843 79.0336 79.459 79.2979L93.7461 117.946H105.173L99.9023 103.78H114.999V93.2266H95.9756L92.4785 83.8271H99.4814C105.835 83.8381 110.036 81.9769 112.552 79.0859C114.82 76.2482 115.976 72.6814 115.806 69.0527C115.81 64.9529 114.725 61.2477 112.153 58.5527C109.581 55.8577 105.627 54.3445 100.298 54.3525H78.1074V54.3496H55.9082ZM72.9287 71.2324C74.5935 70.3368 76.4725 69.9138 78.3604 70.0107C80.2237 69.9149 82.0772 70.3372 83.7158 71.2295C85.2001 72.1928 86.3037 73.6419 86.8369 75.3291L101.831 115.629H95.3613L81.6396 78.4971C81.4008 77.7858 80.9467 77.1659 80.3398 76.7246C79.7351 76.3209 79.0199 76.1145 78.293 76.1338C77.5677 76.116 76.8542 76.3202 76.248 76.7188C75.6434 77.1516 75.177 77.7506 74.9043 78.4424L74.8955 78.46L60.5518 115.628H54.1621L69.7402 75.3408C70.3018 73.6469 71.4271 72.1968 72.9287 71.2324ZM112.662 95.5439V101.456H99.0371L96.8379 95.5439H112.662ZM59.4434 95.541L57.1572 101.453H43.5391V95.541H59.4434ZM78.0879 56.6426L100.297 56.6729C105.218 56.6809 108.436 58.0243 110.476 60.1543C112.516 62.2842 113.485 65.3369 113.485 69.0537C113.648 72.1189 112.693 75.1392 110.798 77.5537C108.805 79.8267 105.42 81.489 99.4756 81.501H91.6123L89.5938 76.0752H99.7559C102.633 76.0802 104.697 75.3406 106.017 74.0146C106.602 73.3887 107.057 72.6525 107.354 71.8486C107.652 71.0447 107.786 70.1893 107.748 69.333C107.787 68.4484 107.65 67.5644 107.344 66.7334C107.038 65.9025 106.569 65.141 105.966 64.4932C105.24 63.8323 104.389 63.3234 103.463 62.9971C102.537 62.6708 101.555 62.5332 100.575 62.5928H78.1113V62.5898H55.6299C54.65 62.5302 53.6681 62.6678 52.7422 62.9941C51.8163 63.3205 50.9653 63.8294 50.2393 64.4902C49.636 65.1383 49.1671 65.8996 48.8613 66.7305C48.5555 67.5615 48.4187 68.4455 48.458 69.3301C48.4206 70.1865 48.5545 71.0416 48.8516 71.8457C49.1486 72.6496 49.6025 73.3864 50.1875 74.0127C51.5065 75.3377 53.5722 76.0772 56.4502 76.0732H66.9707L64.873 81.498H56.7295C50.7868 81.487 47.4022 79.8237 45.4082 77.5508C43.5128 75.1364 42.5581 72.1159 42.7227 69.0508C42.7227 65.3361 43.6918 62.2823 45.7295 60.1514C47.7675 58.0204 50.9882 56.6779 55.9092 56.6709L78.0879 56.6406V56.6426ZM78.1016 64.9199H100.578C101.252 64.8623 101.931 64.9401 102.574 65.1494C103.218 65.3588 103.813 65.6953 104.324 66.1387C104.712 66.5714 105.01 67.0775 105.2 67.627C105.39 68.1764 105.468 68.7587 105.43 69.3389C105.466 69.891 105.391 70.4449 105.21 70.9678C105.029 71.4906 104.746 71.9721 104.376 72.3838C103.629 73.1338 102.277 73.7588 99.7588 73.7588H88.9609C88.8835 73.7587 88.8063 73.7613 88.7295 73.7617C87.9498 71.9124 86.6275 70.3351 84.9268 69.2461C82.925 68.1302 80.6529 67.5919 78.3633 67.6904C76.0529 67.5903 73.7586 68.1276 71.7334 69.2441C70.0152 70.3325 68.6703 71.91 67.8652 73.7646C67.6611 73.761 67.4548 73.7575 67.2461 73.7578H56.4531C53.9341 73.7528 52.582 73.1308 51.835 72.3818C51.465 71.9704 51.1808 71.4888 51 70.9658C50.8192 70.4429 50.7454 69.889 50.7822 69.3369C50.7433 68.7572 50.8199 68.1755 51.0088 67.626C51.1977 67.0765 51.4946 66.57 51.8818 66.1367C52.3931 65.6936 52.9885 65.3578 53.6318 65.1484C54.2751 64.9391 54.9539 64.8606 55.6279 64.918H78.1006L78.1016 64.7383V64.9199Z"
                  fill="currentColor"></path>
              </g>
              <defs>
                <clipPath id="clip0_1_7">
                  <rect width="155.687" height="169.267" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>
          <!-- <a href="https://digitalnorthants.com" class="organisers__partner"> -->
          <!--   <picture> -->
          <!--     <source -->
          <!--       srcset="/partners/digital-northants-dark.png" -->
          <!--       media="(prefers-color-scheme: dark)" -->
          <!--     /> -->
          <!--     <img -->
          <!--       src="/partners/digital-northants.png" -->
          <!--       alt="Digital northants Logo" -->
          <!--       class="organisers__logo organisers__logo--digital-northants" -->
          <!--     /> -->
          <!--   </picture> -->
          <!-- </a> -->
        </div>
      </div>
      <div class="organisers__section">
        <Heading title="Open Collective contributors" level={3} anchor />
        <p class="organisers__p">
          We thank <a href="https://opencollective.com/nn1-dev"
            >our Open Collective</a
          > contributors. Every support, big or small, helps us sustain the event
          and focus on what matters most - creating a great experience for our community.
          Any excess funds will be donated to local charities, amplifying the impact
          of your generosity. Your support means the world to us.
        </p>
        <ul class="contributors__list">
          {contributorsData.map(({ name }) => <li>{name}</li>)}
        </ul>
      </div>
    </div>
  </Container>
</Section>

<style>
  .organisers {
    display: flex;
    flex-direction: column;
    gap: calc(var(--lh) * 3);
  }

  .organisers__section {
    display: flex;
    flex-direction: column;
    gap: var(--lh);
  }

  .organisers__grid {
    display: grid;
    gap: calc(var(--lh) * 2);

    @media (800px <= width) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .organisers__partners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--lh) / 2);

    @media (800px <= width) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .organisers__partner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--lh);
    background-color: var(--color-bg-contrast);
    box-shadow: inset 0 0 0 1px var(--color-border);
    border-radius: var(--br);
    color: inherit;

    &:hover {
      box-shadow: inset 0 0 0 1px var(--color-accent);
      color: var(--color-accent);
    }
  }

  .organisers__logo {
    object-fit: contain;
    width: 100%;
    max-height: calc(var(--lh) * 2);
    aspect-ratio: 3/1;
  }

  .organisers__logo--resend {
    aspect-ratio: 6/1;
  }
  .organisers__logo--digital-northants {
    aspect-ratio: 4/1;
  }

  .organisers__logo--pala {
    aspect-ratio: 7/1;
  }

  @media (800px <= width) {
    .organisers__p {
      max-width: 70ch;
    }
  }

  .contributors__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      padding: calc(var(--lh) / 6) calc(var(--lh) / 2);
      background-color: var(--color-bg-contrast);
      box-shadow: inset 0 0 0 1px var(--color-border);
      border-radius: var(--br);
      margin-inline-end: calc(var(--lh) / 4);
      margin-block-end: calc(var(--lh) / 4);
      font-size: 14px;
    }
  }
</style>
