:root {
  --fz: 1rem;
  --lh: 1.75rem;
  --color-fg: light-dark(oklch(30% 0.01 290), oklch(98% 0.01 290));
  --color-fg-dim: light-dark(oklch(32% 0.01 290), oklch(68% 0.01 290));
  --color-bg: light-dark(oklch(97% 0.01 70), oklch(20% 0.01 290));
  --color-bg-contrast: light-dark(oklch(94% 0.01 70), oklch(14% 0.01 290));
  --color-border: light-dark(oklch(90% 0.01 70), oklch(26% 0.01 290));
  --color-border-light: light-dark(oklch(80% 0.01 70), oklch(30% 0.01 290));
  --color-accent: light-dark(oklch(50% 0.06 70), oklch(83% 0.05 70));
  --color-accent-light: light-dark(oklch(7% 0.05 70), oklch(93% 0.05 70));
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-bg);
  text-shadow: none;
}

::target-text {
  background-color: color-mix(in srgb, var(--color-accent) 50%, transparent);
  color: var(--color-text);
}

html {
  background: var(--color-bg);
  scroll-padding-top: var(--lh);
  scroll-behavior: smooth;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
  color-scheme: dark light;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: system-ui, sans-serif;
  font-size: var(--fz);
  line-height: var(--lh);
  color: var(--color-fg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-accent);
  text-underline-offset: 3px;
  transition: all 80ms;

  &:hover {
    color: var(--color-accent-light);
  }

  &:focus-visible {
    outline: 2px dotted var(--color-accent);
    outline-offset: 2px;
    color: var(--color-accent-light);
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.anchor {
  color: var(--color-border);
  text-decoration: none;
  margin-inline-start: calc(var(--lh) / 4);

  &:hover {
    color: var(--color-accent);
    opacity: 1;
  }
}
